/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๘/๐๙/๒๕๕๖>
Modify date : <๒๕/๐๒/๒๕๖๔>
Description : <Style Sheet จัดรูปการแสดงผล>
=============================================
*/

a:link {
    text-decoration: none;
    outline: none;
}
a:visited {
    text-decoration: none;
    outline: none;
}
a:active {
    text-decoration: none; 
    outline: none;
}
a:hover {
    text-decoration: none;
    outline: none;
}
body {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: default;   
}
html, body {
    height: 100%;
}
body > #bodymain {
    height: auto;
    min-height: 100%;
}
#bodymain,
#headbody,
#bodyfooter {
    width: 100%;
    text-align: center;
}
#mainbody,
#headbody,
#footerbody {
    min-width: 1008px;
}
#headbody-layout,
#menubar-layout,
#footerbody-layout {
    width: auto;
}
#menubar #menubar-layout {
    height: 30px;
}
#menubar #menubar-content {
    width: inherit;
}
#contentbody #contentbody-layout {
    width: auto;
    padding-bottom: 59px;
}
#contentbody #contentbody-content {
    width: inherit;
    text-align: center;
}
.contentbody-left,
.float-left {
    float: left;
}
.contentbody-right,
.float-right {
    float: right;
}
#headbody {
    background: #3498DB;
}
#headbody .box {
    border-top: 6px solid #27AE60;
}
#headbody #headbody-layout {
    height: 59px;
    background: #3498DB;
}
#headbody #headbody-content {
    height: inherit;
}
#headbody #headbody-content #headbody-content-left {
    width: 509px;
    height: inherit;
    background: url(../../Image/eProfile/Label.png) no-repeat 0 0;
}
#headbody #headbody-content #headbody-content-right {
    width: 481px;
    height: inherit;
    background: url(../../Image/eProfile/Label.png) no-repeat -509px 0;
}
#bodyfooter {
    margin-top: -59px;
    height: 59px;
    background: #B0C4B8;
    position: relative;
    z-index: 997;
}
#footerbody .box {
    border-top: 6px solid #27AE60;
}
#footerbody #footerbody-content {
    padding-top: 5px;
}
#footerbody #footerbody-content .th-label,
#footerbody #footerbody-content .en-label {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    color: #000000;
}
#footerbody #footerbody-content .th-label {
    font-size: 14px;
}
.sticky {
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.clear {
    clear:both;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear:both;
    visibility:hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
form,
input,
select,
span {
    margin: 0;
    padding: 0;
    outline: none;
}
select {
    width: 0;
}
.frame-util {
    width: 0;
    height: 0; 
    border: none;
}
input.inputcalendar {
    width: 80px;
    cursor: default;
}
img.ui-datepicker-trigger {
    cursor: pointer;
}
a {
    outline: none;
}
.box {
    width: auto;
}
.hidden {
    display: none;
}
.font-weight-bold {
    font-weight: bold !important;
}
.th-label {
    font: bold 14px Tahoma, Verdana, Arial, sans-serif;
    color: #000000;
}
.en-label {
    font: bold 16px Corbel, Verdana, Arial, sans-serif;
    color: #666666;
}
.inputbox,
.inputcombobox,
.inputcalendar {
    border: 2px solid #BDC3C7;
    text-decoration: none;
    font: normal 14px Tahoma, Verdana, Arial, sans-serif;
    padding: 0 2px 1px 2px;
    height: 24px;
    /*line-height:21px;*/
    color: #000000;
    background-color: #FFFFFF;
    outline: none;    
    cursor: default;
}
.ui-datepicker .ui-datepicker-title select {    
    font: normal 11px Tahoma, Verdana, Arial, sans-serif;    
    border: 0;
    appearance: none;    
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: url(../../Image/eProfile/Arrow.png) no-repeat;
    background-position: 40px; 
    width: 56px;
    text-indent: 0.01px;
    text-overflow: "";
    height: 19px;
    padding: 0;
    padding-left: 1px;
    color: #000000;
    background-color: #FFFFFF; 
}
.ui-datepicker {
    font-family: Corbel, Verdana, Arial, sans-serif;
}
.ui-datepicker .ui-datepicker-title select::-ms-expand {
    display: none;
}
.ui-datepicker th {
    font-weight: bold;
    font-size: 13px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    font-weight: normal;
    font-size: 13px;
}
.textbox-numeric {
    text-align: right;
}
.textbox-disable {
    color: #000000;
    background-color: #CCCCCC;
    cursor: default;
}
.textareabox {
    font: normal 14px Tahoma, Verdana, Arial, sans-serif;
    border: 2px solid #BDC3C7;
    text-decoration: none;
    padding: 0 2px 1px 2px;
    line-height: 22px;
    color: #000000;
    resize: none;
    background-color: #FFFFFF;
    outline: none;
    overflow-y: auto;
}
.checkbox,
.radio {
    margin: 0;
    padding: 0;
    color: #000000;
    outline: none;
    cursor: default;
}
.pr-0 {
    padding-right: 0 !important;
}

.class-dialog-preloading,
.class-dialog-box,
.class-dialog-error,
.class-dialog-confirm {
    z-index: 3001;
}
.class-dialog-preloading .ui-dialog-titlebar,
.class-dialog-box .ui-dialog-titlebar,
.class-dialog-error .ui-dialog-titlebar,
.class-dialog-confirm .ui-dialog-titlebar,
.class-dialog-preloading .ui-dialog-buttonpane {
    display: none;
}
.class-dialog-preloading .ui-dialog-content {
    width: 128px;
    height: 128px;
    background: url(../../Image/eProfile/Preloading.gif) no-repeat center center;
    border: 0;
    padding: 55px 0 0 0;
    text-align: center;
    font: bold 14px Corbel, Verdana, Arial, sans-serif;
}
.class-dialog-box .ui-dialog-content,
.class-dialog-box .ui-dialog-buttonpane {
    border: 3px solid #428001;
    background: #428001;
}
.class-dialog-error .ui-dialog-content,
.class-dialog-error .ui-dialog-buttonpane {
    border: 3px solid #B82A28;
    background: #B82A28;
}
.class-dialog-confirm .ui-dialog-content,
.class-dialog-confirm .ui-dialog-buttonpane {
    border: 3px solid #2A80B9;
    background: #2A80B9;
}
.class-dialog-box .ui-dialog-content,
.class-dialog-error .ui-dialog-content,
.class-dialog-confirm .ui-dialog-content {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.class-dialog-box .ui-dialog-content .th-label,
.class-dialog-error .ui-dialog-content .th-label,
.class-dialog-confirm .ui-dialog-content .th-label {
    font-size: 14px;
    line-height: 21px;
}
.class-dialog-box .ui-dialog-content .en-label,
.class-dialog-error .ui-dialog-content .en-label,
.class-dialog-confirm .ui-dialog-content .en-label {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.class-dialog-error .ui-dialog-content a:hover {
    text-decoration: underline;
}
.class-dialog-box .ui-dialog-buttonpane,
.class-dialog-error .ui-dialog-buttonpane,
.class-dialog-confirm .ui-dialog-buttonpane {
    border: 0;
}
.class-dialog-box .ui-dialog-buttonpane button,
.class-dialog-error .ui-dialog-buttonpane button,
.class-dialog-confirm .ui-dialog-buttonpane button {
    border: 0;
    font: bold 16px Corbel, Verdana, Arial, sans-serif;
    color: #FFFFFF;
    width: 85px;
    height: 32px;
    line-height: 32px;
    outline: none;
}
.class-dialog-error .ui-dialog-buttonpane button {
    background: #E84C3D;
}
.class-dialog-confirm .ui-dialog-buttonpane button {
    background: #4AA3DF;
}
.class-dialog-box .ui-dialog-buttonpane button {
    background: #59B200;
}
.class-dialog-box button:hover,
.class-dialog-error button:hover,
.class-dialog-confirm button:hover {
    color: #FFFFFF;
}
.class-dialog-box button:hover {
    background: #6BDD01;
}
.class-dialog-error button:hover {
    background: #E65D50;
}
.class-dialog-confirm button:hover {
    background: #4DADEE;
}
.class-dialog-form .ui-dialog-titlebar {
    background: #B82A28;
    border: 10px solid #9AC3BD;
    border-bottom: 0;
}
.class-dialog-form .ui-dialog-title {
    font: bold 14px Corbel, Tahoma, Verdana, Arial, sans-serif;
    color: #FFFFFF;
    padding: 8px 45px 8px 10px;
    line-height:22px;
}
.class-dialog-form .ui-dialog-titlebar-close {
    visibility: visible;
    outline: none;
    border: 0;
    background: transparent;
}
.class-dialog-form .ui-dialog-titlebar-close {
    width: 25px;
    height: 25px;
    background: url(../../Image/eProfile/Label.png) 0 -59px;
}
.class-dialog-form .ui-dialog-titlebar-close:hover {
    width: 25px;
    height: 25px;
    background: url(../../Image/eProfile/Label.png) -25px -59px;
}
.class-dialog-form .ui-dialog-content {
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    border: 10px solid #9AC3BD;
    border-top: 0;
}
.class-dialog-form .msgbox {
    width: auto;
    line-height: 25px;
    padding: 10px;
    background: #ECF0F1;
    text-align: justify;
}
.class-dialog-form .msgbox.en-label {
    font-size: 18px;
    font-weight: normal;
    color: #000000;
}
.class-dialog-form .msgbox a {
    color: #000099;
}
.class-dialog-form .msgbox a:hover {
    color:#FF0000;
}
.preloading-inline {
    width: 38px; 
    height: 26px;
    border: 0;
    position:relative;
}

.menubar .menubar-layout {
    width: auto;
    height: 30px;
    line-height: 30px;
    background: #2ECC71;
}
.menubar .menubar-content {
    width: inherit;
}
.menubar .menubar-content ul,
.menubar .menubar-content ul ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menubar .menubar-content ul li {
    float: left;
    display: inline;
}
.menubar .menubar-content ul .link-msg {
    padding: 0 9px 0 9px;
}
.menubar .menubar-content .contentbody-left,
.menubar .menubar-content .contentbody-right {
    height: inherit;
}
.menubar .menubar-content ul .link-click {
    cursor: pointer;
}
.menubar .menubar-content ul li,
.menubar .menubar-content ul li a,
.menubar .menubar-content ul li div {
    display: block;
    height: inherit;
    line-height: inherit;
    text-decoration: none;
    color: #000000;
}
.menubar .menubar-content ul li .th-label {
    font-size: 12px;
    font-weight: normal;
}
.menubar .menubar-content ul li .en-label {
    font-size: 14px;
}
.menubar .menubar-content ul .have-link:hover {
    position: relative;
    background: #27AE60;
}
.menubar .menubar-content ul .have-link:hover .th-label,
.menubar .menubar-content ul .have-link:hover .en-label {
    color: #FFFFFF;
}
.menubar .menubar-content ul .nohave-link:hover {
    position: relative;
}
.menubar .menubar-content ul .split-vertical {
    display: block;
    height: 35px;
    border-left: 1px solid #27AE60;
    border-right: 1px solid #27AE60;
}
.menubar .menubar-content ul .link-submenu:hover .submenu {
    display: block;
}
.menubar .menubar-content ul .link-submenu .submenu {
    background: #27AE60;
    border-top: 6px solid #27AE60;
    display: none;
    position: absolute;
    z-index: 2000;
}
.menubar .menubar-content ul .link-submenu .submenu ul li {
    float: left;
    display: inline;
    text-align: left;
}
.menubar .menubar-content ul .link-submenu .submenu ul li a .th-label {
    line-height: 21px;
    font-size: 14px;
    color: #000000;
}
.menubar .menubar-content ul .link-submenu .submenu ul li a .en-label {
    line-height: 22px;
    font-size: 13px;
    color:#333333;
}
.menubar .menubar-content ul .link-submenu .submenu ul li a {
    padding: 3px 0 5px 9px;
    width: 405px;
    min-height: 22px;
}
.menubar .menubar-content ul .link-submenu .submenu .split-horizontal {
    display: block;
    width: inherit;
    height: 6px;
    background: #27AE60;
}
.menubar .menubar-content ul .link-submenu .submenu ul .have-link:hover {
    background: #25A159;
}
.menubar .menubar-content ul .link-submenu .submenu ul .have-link:hover .en-label {
    color: #000000;
}
.menubar .menubar-content ul #link-help .submenu {
    left: -234px;
}
.menubar .menubar-content ul #link-help .submenu ul li a {
    width: 274px;
}
.menubar .menubar-content #link-privacypolicy,
.menubar .menubar-content #link-privacypolicy .th-label,
.menubar .menubar-content #link-privacypolicy .en-label {
    color: #0056B3;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
.menubar .menubar-content #link-privacypolicy .en-label {
    font-size: 12px;
}

.menulist .menulist-layout {
    width: auto;
    background: #B9B5AD;
    text-align: left;
}
.menulist .menulist-content {
    width: inherit;
}
.menulist .menulist-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menulist .menulist-content ul li,
.menulist .menulist-content ul li .link-msg {
    display: block;
    text-align: left;
    background: #F5BE01;
    height: 52px;
}
.menulist .menulist-content ul .have-link:hover,
.menulist .menulist-content ul .have-link a:hover,
.menulist .menulist-content ul .have-link a:hover .menu-itemtext .th-label,
.menulist .menulist-content ul .have-link a:hover .menu-itemtext .en-label {
    background: #C8A000;
    color: #000000;
}
.menulist .menulist-content ul li .link-msg .menu-itemtext {
    padding-left: 10px;
    padding-top: 5px;
}
.menulist .menulist-content ul li .link-msg .menu-itemtext .th-label {
    height: 22px;
}
.menulist .menulist-content ul li .link-msg .menu-itemtext .en-label {
    font-size: 13px;
}
.menulist {
    position: fixed;
    z-index: 998;
}
.menulist .button-toggle {
    height: 26px;
}
.menulist .button-toggle a {
    line-height: 26px;
    font-size: 13px;
}
.menulist .button-toggle a:hover {
    background: transparent;
}

.infobar {
    z-index:999;
}
.infobar .infobar-layout {
    width: auto;
    height: 47px; 
    background: #EFF0F2;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
.infobar .infobar-content {
    width: inherit;
}
.infobar .infobar-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.infobar .infobar-content ul li {
    float: left;
    display: inline;
}
.infobar .infobar-content ul li .icon {
    width: 67px;
    height: 47px;
    background: url(../../Image/eProfile/Label.png);
}
.infobar .infobar-content ul li .icon-profile {
    background-position: -0px -84px;
}
.infobar .infobar-content ul li .icon-privacypolicy {
    background-position: -67px -84px;
}
.infobar .infobar-content ul li .title {
    width: 100%;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
}
.infobar .infobar-content ul li .title .th-label {
    height: 20px;
}
.infobar .infobar-content ul li .title .en-label {
    line-height: 19px;
    font-size: 14px;
}
.infobar .infobar-content .operator ul li,
.infobar .infobar-content .operator ul li a {
    display: block;
    width: 46px;
}
.infobar .infobar-content .operator ul li .operator-img {
    width: 24px;
    height: 24px;
    background: url(../../Image/eProfile/Label.png);
    margin-top: 5px;
    position: relative;
    left: 11px;
}
.infobar .infobar-content .operator ul li .operator-msg {
    height: 18px;
    line-height: 18px;
}
.infobar .infobar-content .operator ul li .en-label {
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}
.infobar .infobar-content .operator ul li:hover {
    background: #D2D7D3;
}
.infobar .infobar-content .operator ul .operator-new .operator-img {
    background-position: 0 -131px;
}
.infobar .infobar-content .operator ul .operator-edit .operator-img {
    background-position: -48px -131px;
}
.infobar .infobar-content .operator ul .operator-delete .operator-img {
    background-position: -96px -131px;
}
.infobar .infobar-content .operator ul .operator-search .operator-img {
    background-position: -144px -131px;
}
.infobar .infobar-content .operator ul .operator-reset .operator-img {
    background-position: -192px -131px;
}
.infobar .infobar-content .operator ul .operator-save .operator-img {
    background-position: -240px -131px;
}
.infobar .infobar-content .operator ul .operator-apply .operator-img {
    background-position: -288px -131px;
}
.infobar .infobar-content .operator ul .operator-undo .operator-img {
    background-position: -336px -131px;
}
.infobar .infobar-content .operator ul .operator-print .operator-img {
    background-position: -384px -131px;
}
.infobar .infobar-content .operator ul .operator-transfer .operator-img {
    background-position: -432px -131px;
}
.infobar .infobar-content .operator ul .operator-home .operator-img {
    background-position: -480px -131px;
}
.infobar .infobar-content .operator ul .operator-close .operator-img {
    background-position: -528px -131px;
}
.infobar .infobar-content .operator ul .operator-saveall .operator-img {
    background-position: -576px -131px;
}
.infobar .infobar-content .operator ul .operator-linkto .operator-img {
    background-position: -624px -131px;
}
.infobar .infobar-content .operator ul .operator-profile .operator-img {
    background-position: -648px -131px;
}
.infobar .infobar-content .operator ul .operator-new:hover .operator-img,
.infobar .infobar-content .operator ul .operator-new a:hover .operator-img {
    background-position: -24px -131px;
}
.infobar .infobar-content .operator ul .operator-edit:hover .operator-img,
.infobar .infobar-content .operator ul .operator-edit a:hover .operator-img {
    background-position: -72px -131px;
}
.infobar .infobar-content .operator ul .operator-delete:hover .operator-img,
.infobar .infobar-content .operator ul .operator-delete a:hover .operator-img {
    background-position: -120px -131px;
}
.infobar .infobar-content .operator ul .operator-search:hover .operator-img,
.infobar .infobar-content .operator ul .operator-search a:hover .operator-img {
    background-position: -168px -131px;
}
.infobar .infobar-content .operator ul .operator-reset:hover .operator-img,
.infobar .infobar-content .operator ul .operator-reset a:hover .operator-img {
    background-position: -216px -131px;
}
.infobar .infobar-content .operator ul .operator-save:hover .operator-img,
.infobar .infobar-content .operator ul .operator-save a:hover .operator-img {
    background-position: -264px -131px;
}
.infobar .infobar-content .operator ul .operator-apply:hover .operator-img,
.infobar .infobar-content .operator ul .operator-apply a:hover .operator-img {
    background-position: -312px -131px;
}
.infobar .infobar-content .operator ul .operator-undo:hover .operator-img,
.infobar .infobar-content .operator ul .operator-undo a:hover .operator-img {
    background-position: -360px -131px;
}
.infobar .infobar-content .operator ul .operator-print:hover .operator-img,
.infobar .infobar-content .operator ul .operator-print a:hover .operator-img {
    background-position: -408px -131px;
}
.infobar .infobar-content .operator ul .operator-transfer:hover .operator-img,
.infobar .infobar-content .operator ul .operator-transfer a:hover .operator-img {
    background-position: -456px -131px;
}
.infobar .infobar-content .operator ul .operator-home:hover .operator-img,
.infobar .infobar-content .operator ul .operator-home a:hover .operator-img {
    background-position: -504px -131px;
}
.infobar .infobar-content .operator ul .operator-close:hover .operator-img,
.infobar .infobar-content .operator ul .operator-close a:hover .operator-img {
    background-position: -552px -131px;
}
.infobar .infobar-content .operator ul .operator-saveall:hover .operator-img,
.infobar .infobar-content .operator ul .operator-saveall a:hover .operator-img {
    background-position: -600px -131px;
}
.infobar .infobar-content .operator ul .operator-profile:hover .operator-img,
.infobar .infobar-content .operator ul .operator-profile a:hover .operator-img {
    background-position: -672px -131px;
}
.infobar .infobar-content .linkto {
    position: fixed;
    z-index: 1000;
}
.infobar .infobar-content .linkto ul li {
    float: none;
    display: block;
    padding: 7px 10px 0 10px;
}
.infobar .infobar-content .linkto ul li .link-click {
    cursor: pointer;
}
.infobar .infobar-content .linkto ul li .linkto-msg {
    color: #FFFFFF;
}
.infobar .infobar-content .linkto ul li .th-label {
    height: 20px;
}
.infobar .infobar-content .linkto ul li .en-label {
    font-size: 14px;
}

#infobar-privacypolicy .infobar-layout {
    border-bottom-color: #0D70E5;
}

#infobar-studentrecords .infobar-layout {
    border-bottom-color: #F3781B;
}
#infobar-studentrecords .infobar-content .operator-linkto {
    background: #F3781B; width:55px;
}
#infobar-studentrecords .infobar-content .operator-linkto .operator-img {
    left: 15px;
}
#infobar-studentrecords .infobar-content .operator-linkto .operator-msg {
    width: 55px;
}
#infobar-studentrecords .infobar-content .linkto {
    top: 145px;
}
#infobar-studentrecords .infobar-content .linkto ul li {
    width: 187px;
    height: 43px;
    text-align: right;
    background: #F3781B;
}
#infobar-studentrecords .infobar-content .linkto ul li:last-child {
    height: 41px;
}
#infobar-studentrecords .infobar-content .linkto ul li:hover {
    background: #E86400;
}

.important .important-layout {
    width: auto;
    height: 43px;
    text-align: left;
    padding: 7px 10px 0 10px;
}
.important .important-content {
    width: inherit;
    height: inherit;
}
.important .important-recommend {
    width: inherit;
    background: #F1C40F;
}
.important .important-success {
    width: inherit;
    background: #2ECC71;
    display: none;
}
.important .important-icon {
    display: inline;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    background: url(../../Image/eProfile/Label.png) -111px -305px;
}
.important .important-msg {
    display: inline;
    width: inherit;
    background: #FF0000;
}
.important .important-msg .th-label {
    height: 20px;
}
.important .important-msg .en-label {
    font-size: 14px;
    font-weight: normal;
}
.important .important-msg .title {
    font-size: 18px;
    font-weight: bold;
    height: 22px;
    line-height: 18px;
}

.tabbar {
    z-index: 998;
}
.tabbar .tabbar-layout {
    width: auto;
    min-width: 750px;
    height: 48px;
    background: #B9B5AD;
}
.tabbar .tabbar-content {
    width: inherit;
}
.tabbar .tabbar-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.tabbar .tabbar-content ul li {
    float: left;
    display: inline;
}
.tabbar .tabbar-content ul li,
.tabbar .tabbar-content ul li a {
    display: block;
    text-decoration: none;
    height: 48px;
}
.tabbar .tabbar-content ul li .tab-itemtext {
    padding: 7px 10px 0 10px;
    text-align: left;
}
.tabbar .tabbar-content ul li .tab-itemtext .th-label {
    height: 20px;
}
.tabbar .tabbar-content ul li .tab-itemtext .en-label {
    font-size: 14px;
}
.tabbar .tabbar-content ul li .tab-active {
    background: #FFFFFF;
}
.tabbar .tabbar-content ul li .tab-active .th-label,
.tabbar .tabbar-content ul li .tab-active .en-label {
    color: #000000;
}
.tabbar .tabbar-content ul li .noactive {
    background: transparent;
}
.tabbar .tabbar-content ul li a:hover,
.tabbar .tabbar-content ul li a:hover .th-label,
.tabbar .tabbar-content ul li a:hover .en-label {
    background: #BDC3C7;
    color: #000000;
}

.subtabbar .tabbar-layout {
    background: #FFFFFF;
}
.subtabbar .tabbar-content ul li .tab-itemtext .th-label,
.subtabbar .tabbar-content ul li .tab-itemtext .en-label {
    color: #BDC3C7;
}
.subtabbar .tabbar-content ul li .subtab-active {
    background: transparent;
}
.subtabbar .tabbar-content ul li .subtab-active .th-label, 
.subtabbar .tabbar-content ul li .subtab-active .en-label {
    color: #000000;
}
.subtabbar .tabbar-content ul li a:hover,
.subtabbar .tabbar-content ul li a:hover .th-label,
.subtabbar .tabbar-content ul li a:hover .en-label {
    background: transparent;
    color: #000000;
}

.form .form-content {
    text-align: left;
}
.form .form-content .form-row {
    width: inherit;
    height: 48px;
}
.form .form-content .form-lastrow {
    height: auto;
    padding-bottom: 10px;
}
.form .form-content .form-labelcol,
.form .form-content .form-inputcol {
    float: left;
}
.form .form-content .form-labelcol {
    width: 45%;
    min-width: 316px;
    padding: 7px 0 0 10px;
    text-align: right;
}
.form .form-content .form-labelcol .form-label .th-label {
    height: 20px;
}
.form .form-content .form-labelcol .form-label .en-label {
    font-size: 13px;
}
.form .form-content .form-inputcol {
    width: 45%;
    min-width: 437px;
    padding: 13px 0 0 0;
}
.form .form-content .form-inputcol.form-inputcol-paddingbottom {
    padding-top: 5px;
}
.form .form-content .form-inputcol .form-input span {
    display: inline-block;
}
.form .form-content .form-inputcol .form-input .th-label {
    font-size: 14px;
    font-weight: normal;
}
.form .form-content .form-inputcol .form-input .en-label {
    font-size: 13px;
    font-weight: normal;
}
.form .form-content .form-inputcol .form-input .form-input-discription {
    display: block;
    margin-top: 0.25rem;
}
.form .form-content .form-inputcol .form-input .form-input-discription .th-label,
.form .form-content .form-inputcol .form-input .form-input-discription .en-label {
    font-size: 75%;
    font-style: normal;
    font-weight: normal;
    color: #6C757D;
    line-height: 18px;
}
.form .form-content .form-inputcol .form-input .radio-content .th-label,
.form .form-content .form-inputcol .form-input .checkbox-content .th-label {
    line-height: 22px;
}
.form .form-content .form-inputcol .form-input .radio-content .en-label,
.form .form-content .form-inputcol .form-input .checkbox-content .en-label {
    line-height: 18px;
}
.form .form-content .form-inputcol .form-input .radio-content,
.form .form-content .form-inputcol .form-input .checkbox-content {
    width: 533px;
}
.form .form-content .form-inputcol .form-input .radio-content ul .radio-labelcol,
.form .form-content .form-inputcol .form-input .checkbox-content ul .checkbox-labelcol {
    width: 401px;
}
.form .form-content .form-inputcol .form-input .form-subcontent {
    margin-left: 23px;
    margin-top: 10px;
}
.form .form-content .form-inputcol .form-input .form-subcontent.first-child {
    margin-top: 3px;
}
.form .form-content .form-inputcol .form-input .form-subcontent .form-labelcol {
    padding: 0;
    text-align: left;
}
.form .form-content .form-inputcol .form-input .form-subcontent .form-labelcol div {
    line-height: 21px;
}
.form .form-content .form-inputcol .form-input .form-subcontent .form-labelcol .en-label {
    line-height: 18px;
    font-size: 13px;
}
.form .form-content .form-inputcol .form-input .form-subcontent .form-labelcol div:first-child span.en-label {
    color: #000000;
}
.form .form-content .form-inputcol .form-input .form-subcontent .form-inputcol {
    padding: 0;
    margin-top: 5px;
}
.form .form-content .form-inputcol .form-input .form-subcontent .radio-content,
.form .form-content .form-inputcol .form-input .form-subcontent .checkbox-content {
    padding: 0;
    margin-left: 0;
}
.form .form-content .form-inputcol .form-input .form-subcontent .radio-content .radio-labelcol,
.form .form-content .form-inputcol .form-input .form-subcontent .checkbox-content .checkbox-labelcol {
    width: 378px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left {
    margin-left: 4px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left:first-child {
    margin-left: 0;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left:last-child,
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left:last-child {
    margin-left: 1px;
    padding-top: 54px;
    width: 50px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left .button {
    margin-top: 5px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left .button ul li a {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #000000;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left:last-child .link ul li,
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left:last-child .link ul li {
    text-align: right;
    width: 44px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left:last-child .link ul li .en-label,
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left:last-child .link ul li .en-label {
    font-size: 13px;
    font-weight: bold;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row:first-child {
    border: none;
    border-top: 1px dashed #CCCCCC;
    margin-top: 10px;
    padding-top: 5px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left {
    margin-left: 4px;
    padding-left: 5px;
    padding-right: 3px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left:first-child {
    margin-left: 0;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left div {
    line-height: 21px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left:last-child {
    padding: 0;
    padding-top: 1px;
}

.dialog-form .form-layout {
    background: #F5F5F5;
    width: auto
}
.dialog-form .form-content {
    width: inherit;
    padding: 0;
}
.dialog-form .form-content .form-labelcol {
    min-width: 0;
    width: 50%;
    text-align: left;
}
.dialog-form .form-content .form-inputcol {
    min-width: 0;
    width: 50%;
    padding: 9px 0 0 0;
    text-align: left;
}
.dialog-form .form-content .form-inputcol .form-input {
    word-wrap: break-word;
    word-break: break-all;
}
.dialog-form .form-content .form-inputcol .form-input .alertmessage {
    height: 26px;
    line-height: 26px;
    position: relative;
    left: 64px;
}
.dialog-form .form-content .button ul li a,
.dialog-form .form-content .button ul li div {
    width: 80px;
    height: 30px;
    line-height: 30px;
}
.dialog-form .table .table-layout {
    text-align: center;
}
.dialog-form .table.table-previewprogress .table-title {
    background: transparent;
}
.dialog-form .table.table-previewprogress .table-list {
    border-bottom: 1px solid #E4E4E4;
    overflow: hidden;
}
.dialog-form .table.table-previewprogress .table-list:hover {
    overflow-y: scroll;
}
.dialog-form .table.table-previewprogress .table-grid .table-row:hover {
    cursor: default;
}
.dialog-form .table.table-previewprogress .button {
    padding: 9px;
    position: relative;
}

.dialogmessage-form .form-layout {
    background: #FFFFFF;
    width: auto;
}
.dialogmessage-form .form-content {
    width: inherit;
    padding: 10px;
}
.dialogmessage-form .form-content hr {
    width: auto;
    height: 1px;
    border: none;
    border-top: 1px dashed #CCCCCC;
}
.dialogmessage-form .form-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative
}
.dialogmessage-form .form-content ul li {
    padding-left: 15px;
    line-height: 25px;
    font-weight: normal;
    text-wrap: normal;
    text-align: justify;
}
.dialogmessage-form .form-content ul li:before {
    position: absolute;
    content: "•";
    left: 0;
}
.dialogmessage-form .form-content div {
    line-height: 25px;
    font-weight: normal;
    text-wrap: normal;
    text-align: justify;
}

.form.addupdate .form-content .age {
    width: 42px;
    text-align: center;
}
.form.addupdate .form-content .button ul li a,
.form.addupdate .form-content .button ul li div {
    width: 80px;
    height: 30px;
    line-height: 30px;
}
.form.addupdate .form-content .button ul li .en-label {
    font-size: 16px;
    font-weight: bold;
}

.form.detail .form-content .form-inputcol {
    padding-top: 7px;
}
.form.detail .form-content .form-inputcol .th-label,
.form.detail .form-content .form-inputcol .en-label {
    font-weight: normal;
} 
.form.detail .form-content .form-inputcol .th-label {
    line-height: 18px;
}
.form.detail .form-content .form-inputcol .en-label {
    line-height: 18px;
    height: 19px;
    font-size: 13px;
    margin-top:1px;
}
.form.detail .form-content .form-inputcol .button ul li a,
.form.detail .form-content .form-inputcol .button ul li div {
    width: 80px;
    height: 30px;
    line-height: 30px;
}
.form.detail .form-content .form-inputcol .button ul li .en-label {
    font-size: 16px;
    font-weight: bold;
}

.button .button-layout {
    width: auto;
}
.button .button-content {
    width: inherit;
}
.button .button-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.button .button-content ul li {
    display: block;
    float: left;
    text-align: center;
    margin-left: 6px;
}
.button .button-content ul .nomargin {
    margin-left: 0;
}
.button .button-content ul li a,
.button .button-content ul li div {
    display: block;
    text-decoration: none;
    outline: none;
    color: #FFFFFF;
    cursor: pointer;
}
.button .button-content ul li a:hover, .button .button-content ul li div:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.button .button-content .button-style1 li a,
.button .button-content .button-style1 li div {
    background: #1ABC9C;
}
.button .button-content .button-style1 li a:hover,
.button .button-content .button-style1 li div:hover {
    background: #48C9B0;
}
.button .button-content .button-style2 li a,
.button .button-content .button-style2 li div {
    background: #D2D7D3;
    color: #000000;
}
.button .button-content .button-style2 li a:hover,
.button .button-content .button-style2 li div:hover {
    background: #DADFE1;
    color: #000000;
}
.button .button-content .button-style3 li a,
.button .button-content .button-style3 li div {
    background: #E1D193;
    color: #000000;
}
.button .button-content .button-style3 li a:hover,
.button .button-content .button-style3 li div:hover {
    background: #E4C568;
    color: #000000;
}
.button .button-content .button-style4 li a,
.button .button-content .button-style4 li div {
    background: #E84C3D;
    color: #000000;
}
.button .button-content .button-style4 li a:hover,
.button .button-content .button-style4 li div:hover {
    background: #E65D50;
    color: #000000;
}
.button .button-content ul li .disable {
    background: #C8C8C8;
    color: #A6A5A5;
    cursor: default;
}
.button .button-content ul li .disable:hover {
    background: #C8C8C8;
    color: #A6A5A5;
    cursor: default;
}

.link ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.link ul li {
    float: left;
    line-height: 14px;
    margin-left: 6px;
}
.link ul .link-first {
    margin-left: 0;
}
.link ul li a {
    color: #000000;
    text-decoration: underline;
}
.link ul li a:hover {
    color: #FF0000;
}

.error-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.error-list ul li {
    text-decoration: none;
    padding-left: 15px;
}
.error-list ul li:before {
    position: absolute;
    content:" •";
    color: #000000;
    left: 0;
}
.error-list ul li {
    line-height: 20px;
}

.icon-fieldmark {
    display: inline-block;
    width: 20px;
    height: 10px;
    background: url(../../Image/eProfile/Label.png) -110px -59px;
}
.icon-fieldmarkblank {
    display: inline-block;
    width: 20px;
    height: 10px;
}

.radio-content ul, .checkbox-content ul {
    margin: 0;
    margin-top: 7px;
    padding: 0;
    list-style-type: none;
    clear: both;
}
.radio-content:first-child ul,
.checkbox-content:first-child ul {
    margin-top: 0;
}
.radio-content ul li,
.checkbox-content ul li {
    float: left;
    display: inline-block;
}
.radio-content ul .radio-inputcol,
.checkbox-content ul .checkbox-inputcol {
    position: relative;
    width: 25px;
    margin-top: -1px;
}
.radio-content ul .radio-labelcol,
.checkbox-content ul .checkbox-labelcol {
    width: 60px;
}
.radio-content ul .radio-labelcol span, .radio-content ul .radio-labelcol div, 
.checkbox-content ul .checkbox-labelcol span, .checkbox-content ul .checkbox-labelcol div {
    line-height: 22px;
}
.radio-content ul .radio-labelcol .link-click {
    display: block;
    text-decoration: underline;
    cursor: pointer;
}

.list .list-layout {
    width: auto;
    height: inherit;
    border: 2px solid #BDC3C7;
    background: #FFFFCC;
    overflow: hidden;
    overflow-y: auto;
}
.list .list-content {
    width: inherit;
}
.list .list-content .list-row:hover {
    background: #000099;
    outline: none;
}
.list .list-content .list-row:hover .th-label,
.list .list-content .list-row:hover .en-label {
    color: #FFFFFF;
}
.list .list-content .list-col {
    padding: 6px;
    padding-top: 3px;
    line-height: 18px;
    word-wrap: break-word;
}
.list .list-content .list-col .checkbox-content ul {
    margin-top: 0;
}
.list .list-content .list-col .checkbox-content .checkbox-inputcol {
    margin-top: 0;
}

.picture-content {
    background: url(../../Image/eProfile/Label.png);
    border: 6px solid #CCCCCC;
    position: relative;
}
.picture-content .picture-watermark {
    width: inherit;
    height: inherit;
    background: url(../../Image/eProfile/BGWaterMark.png) repeat;
    opacity: 0.6;
    filter: Alpha(Opacity=60);
    position: absolute;
    z-index: 1;
    display: none;
}
.picture-content img {
    display: none;
    border: none;
}

.profilepicture-content {
    width: 230px;
    height: 312px;
    background-position: 0 -155px;
}

#addupdate-studentrecords-menu,
#main-privacypolicy-menu {
    left: 0;
    background: #2C3E50;
    border-right: solid 10px #3F566D;
    overflow: hidden;
}
#addupdate-studentrecords-menu .menulist-layout,
#main-privacypolicy-menu .menulist-layout {
    width: 235px;
    background: #2C3E50;
}
#addupdate-studentrecords-menu .menulist-content ul li,
#addupdate-studentrecords-menu .menulist-content ul li .link-msg,
#main-privacypolicy-menu .menulist-content ul li,
#main-privacypolicy-menu .menulist-content ul li .link-msg {  
    background: transparent;
    height: 48px;
}
#addupdate-studentrecords-menu .menulist-content ul .have-link:hover,
#addupdate-studentrecords-menu .menulist-content ul .have-link a:hover,
#addupdate-studentrecords-menu .menulist-content ul .have-link a:hover .menu-itemtext .th-label,
#addupdate-studentrecords-menu .menulist-content ul .have-link a:hover .menu-itemtext .en-label,
#main-privacypolicy-menu .menulist-content ul .have-link:hover,
#main-privacypolicy-menu .menulist-content ul .have-link a:hover,
#main-privacypolicy-menu .menulist-content ul .have-link a:hover .menu-itemtext .th-label,
#main-privacypolicy-menu .menulist-content ul .have-link a:hover .menu-itemtext .en-label{
    background: #3F566D;
    color: #FFFFFF;
}
#addupdate-studentrecords-menu .menulist-content ul .have-link a:hover.menu-incomplete .menu-itemtext .th-label {
    color: #FF0000;
}
#addupdate-studentrecords-menu .menulist-content ul .have-link a:hover.menu-incomplete .menu-itemtext .en-label {
    color: #990000;
}
#addupdate-studentrecords-menu .menulist-content ul li a.menu-active,
#main-privacypolicy-menu .menulist-content ul li a.menu-active{
    background: #3F566D;
}
#addupdate-studentrecords-menu .menulist-content ul li a.menu-active .menu-itemtext .th-label,
#addupdate-studentrecords-menu .menulist-content ul li a.menu-active .menu-itemtext .en-label,
#main-privacypolicy-menu .menulist-content ul li a.menu-active .menu-itemtext .th-label,
#main-privacypolicy-menu .menulist-content ul li a.menu-active .menu-itemtext .en-label {
    color: #FFFFFF;
}
#addupdate-studentrecords-menu .menulist-content ul li a.menu-incomplete .menu-itemtext .th-label {
    color: #FF0000;
}
#addupdate-studentrecords-menu .menulist-content ul li a.menu-incomplete .menu-itemtext .en-label {
    color: #990000;
}
#addupdate-studentrecords-menu .menulist-content ul li .link-msg .menu-itemtext,
#main-privacypolicy-menu .menulist-content ul li .link-msg .menu-itemtext {
    padding-top: 7px;
}
#addupdate-studentrecords-menu .menulist-content ul li .link-msg .menu-itemtext .th-label,
#main-privacypolicy-menu .menulist-content ul li .link-msg .menu-itemtext .th-label {
    color: #9EA4A4;
    height: 20px;
}

#addupdate-studentrecords,
#main-privacypolicy {
    margin-left: 245px;
}
#addupdate-studentrecords .form-content .form-labelcol {
    width: 40%;
}
#addupdate-studentrecords .form-content .form-inputcol {
    width: 50%;
}
#addupdate-studentrecords .button .button-save {
    width: 120px;
}
#addupdate-studentrecords #addupdate-studentrecords-layout {
    width: auto;
}
#addupdate-studentrecords #addupdate-studentrecords-content {
    width: inherit;
}
#addupdate-studentrecordsstudentrecords-form #addupdate-studentrecordsstudentrecords-studentpicture-content .form-inputcol {
    padding-top: 10px;
}
#addupdate-studentrecordsstudentrecords-form #addupdate-studentrecordsstudentrecords-studentpicture-content .form-inputcol .profilepicture-content {
    width: 128px;
    height: 176px;
}
#addupdate-studentrecordsstudentrecords-form #addupdate-studentrecordsstudentrecords-studentpicture-content .form-inputcol .profilepicture-content img {
    width: inherit;
    height: inherit;
}
#addupdate-studentrecordsstudentrecords-form #addupdate-studentrecordsstudentrecords-studentid-content .form-inputcol {
    padding-top: 0;
}
#addupdate-studentrecordsstudentrecords-form #addupdate-studentrecordsstudentrecords-studentid-content .form-inputcol .en-label {
    font-size: 22px;
    font-weight: bolder;
    line-height: 45px;
}
#addupdate-studentrecordseducationadmissionscores-form .admissionscores {
    margin: 0;
    margin-left: 3px;
}
#addupdate-studentrecordseducationadmissionscores-form .admissionscores.form-subcontent .form-labelcol {
    margin: 0;
    width: 255px;
    min-width: 255px;
}
#addupdate-studentrecordseducationadmissionscores-form .admissionscores.form-subcontent .form-labelcol div:first-child {
    height: 18px;
}
#addupdate-studentrecordseducationadmissionscores-form .admissionscores.form-subcontent .form-inputcol {
    margin-top: 7px;
    width: 58px;
    min-width: 58px;
}
#addupdate-studentrecordspersonal-form #addupdate-studentrecordspersonal-idcard-content .form-subcontent.first-child,
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-subcontent,
#addupdate-studentrecordsfamilyparentaddresspermanent-form #addupdate-studentrecordsfamilyparentaddresspermanent-relationship-content .form-subcontent,
#addupdate-studentrecordsfamilyparentaddresscurrent-form #addupdate-studentrecordsfamilyparentaddresscurrent-relationship-content .form-subcontent,
#addupdate-studentrecordsfamilyparentwork-form #addupdate-studentrecordsfamilyparentwork-relationship-content .form-subcontent {
    margin: 0;
}
#addupdate-studentrecords .agencyother {
    margin-top: 7px;
}
#addupdate-studentrecords .tabbar-content ul li #link-addupdate-studentrecordsfamilyfatherpersonal,
#addupdate-studentrecords .tabbar-content ul li #link-addupdate-studentrecordsfamilymotherpersonal,
#addupdate-studentrecords .tabbar-content ul li #link-addupdate-studentrecordsfamilyparentpersonal {
    width: 135px;
}

#addupdate-studentrecordspersonal-form #addupdate-studentrecordspersonal-idcard-content .form-inputlist {
    margin-left: 0;
}
#addupdate-studentrecordspersonal-form #addupdate-studentrecordspersonal-idcard-content .form-inputlist .form-inputlist-input .contentbody-left {
    width: 120px;
    padding-top: 0;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-input .contentbody-left:nth-child(1) {
    width: 83px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-input .contentbody-left:nth-child(2) {
    width: 83px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-input .contentbody-left:nth-child(3) {
    width: 90px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-input .contentbody-left:nth-child(3) #addupdate-studentrecordsmaintenancehealthy-bodymassdetailcalcultebmi {
    margin-top: 5px;
    height: 28px;
    display: none;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-input .contentbody-left:nth-child(3) .button ul li a {
    width: 90px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-input .contentbody-left:nth-child(4) {
    width: 106px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-input .contentbody-left:nth-child(5) {
    padding-top: 52px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-list {
    width: 426px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-list .contentbody-left:nth-child(1) {
    width: 75px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-list .contentbody-left:nth-child(2) {
    width: 75px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-list .contentbody-left:nth-child(3) {
    width: 82px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-list .contentbody-left:nth-child(4) {
    width: 98px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-list .contentbody-left div {
    text-align: right;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-list .contentbody-left:nth-child(4) div {
    text-align: left;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-bodymassindex-content .form-inputlist .form-inputlist-list .contentbody-left:nth-child(5) {
    padding-top: 3px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-familyhistoryofillness-content .list {
    margin-bottom: 7px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-familyhistoryofillness-content .list .list-content .list-col.th-label {
    font-size: 12px;
} 
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-travelabroad-content .form-inputlist .form-inputlist-input .contentbody-left:nth-child(1) {
    width: 241px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-travelabroad-content .form-inputlist .form-inputlist-input .contentbody-left:nth-child(2) {
    width: 106px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-travelabroad-content .form-inputlist .form-inputlist-input .contentbody-left:nth-child(3) {
    padding-top: 52px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-travelabroad-content .form-inputlist .form-inputlist-list {
    width: 403px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-travelabroad-content .form-inputlist .form-inputlist-list .contentbody-left:nth-child(1) {
    width: 233px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-travelabroad-content .form-inputlist .form-inputlist-list .contentbody-left:nth-child(2) {
    width: 98px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-travelabroad-content .form-inputlist .form-inputlist-list .contentbody-left:nth-child(3) {
    padding-top: 3px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-impairments-content #addupdate-studentrecordshealthy-disability-content .form-subcontent:first-child {
    border-top: 1px dashed #CCCCCC;
    margin-top: 10px;
    padding-top: 5px;
    width: 403px;
}
#addupdate-studentrecordshealthy-form #addupdate-studentrecordshealthy-disability-content .form-inputlist .form-inputlist-input .contentbody-left {
    width: 120px;
    padding-top: 0;
}

#main-privacypolicy-content {
    width: 689px;
    padding: 6px 10px 1rem 10px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    ::i-block-chrome,
    #main-privacypolicy-content {
        width: 695px;
    }
}
#main-privacypolicy-content .switch-lang {
    margin-bottom: 1.5rem;
}
@media screen and (min--moz-device-pixel-ratio: 0) {
    #main-privacypolicy-content .switch-lang {
        margin-bottom: 1.45rem;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #main-privacypolicy-content .switch-lang {
        margin-bottom: 1.45rem;
    }
}
#main-privacypolicy-content .switch-lang ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#main-privacypolicy-content .switch-lang ul li {
    float: left;
    display: inline;
}
#main-privacypolicy-content .switch-lang ul .link-click {
    cursor: pointer;
}
#main-privacypolicy-content .switch-lang ul li,
#main-privacypolicy-content .switch-lang ul li a,
#main-privacypolicy-content .switch-lang ul li div {
    display: block;
    height: inherit;
    font-size: 16px;
    line-height: inherit;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}
#main-privacypolicy-content .switch-lang ul .have-link:hover .en-label,
#main-privacypolicy-content .switch-lang ul .have-link .active {
    color: #000000;
}
#main-privacypolicy-content .switch-lang ul .split-vertical {
    display: block;
    height: 16px;
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    margin: 2px 7px 0 7px;
}
#main-privacypolicy-content .header,
#main-privacypolicy-content .body,
#main-privacypolicy-content .footer,
#main-privacypolicy-content .checkbox-content .checkbox-labelcol div {  
    font-weight: normal;
    color: #343A40;
    line-height: 1.8;
    text-align: left;
    text-justify: distribute;
    white-space: normal;
    word-break: break-word;
    word-spacing: 0;
}
#main-privacypolicy-content .header {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center;  
}
#main-privacypolicy-content .consent-topics .topic {
    font-weight: bold;
}
#main-privacypolicy-content .consent-topics .choices .choice {
    margin-top: 0.25rem;
}
#main-privacypolicy-content .checkbox-content {
    display: table;
    width: 100%;  
}
#main-privacypolicy-content .checkbox-content .checkbox-inputcol,
#main-privacypolicy-content .checkbox-content .checkbox-labelcol {
    display: table-cell !important;
    width: 25px;
    text-align: left;
    float: none;
}
#main-privacypolicy-content .checkbox-content .checkbox-inputcol {
    top: -1px;
}
#main-privacypolicy-content .checkbox-content .checkbox-labelcol {
    width: auto;
}
#main-privacypolicy-content .checkbox-content .checkbox-labelcol div {
    font-weight: bold;  
}
#main-privacypolicy-content .choice .checkbox-content .checkbox-labelcol div {
    font-weight: normal;
}
#main-privacypolicy-content #link-updateconsent {
    color: #DC3545;
    font-weight: bold;
    text-decoration: underline;
}