<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
            </assemblies>
        </compilation>
        <globalization culture="en-US" uiCulture="en-US"/>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FinserviceSoap"/>
                <binding name="StudentServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://smartedu.mahidol.ac.th/FinService/Finservice.asmx" binding="basicHttpBinding" bindingConfiguration="FinserviceSoap" contract="FinService.FinserviceSoap" name="FinserviceSoap"/>
            <endpoint address="http://www.student.mahidol.ac.th/Infinity/InfoService/Module/Student/StudentService.asmx" binding="basicHttpBinding" bindingConfiguration="StudentServiceSoap" contract="StudentService.StudentServiceSoap" name="StudentServiceSoap"/>
        </client>
    </system.serviceModel>
    <connectionStrings>
        <add name="connectionString" connectionString="Server=stddb.mahidol;Database=Infinity;User ID=MuStudent53;Password=oydL7dKk53;Asynchronous Processing=true;"/>
        <add name="MyConnect" connectionString="Data Source=stddb.mahidol;Initial Catalog=Infinity;Persist Security Info=True;User ID=MuStudent53;Password=oydL7dKk53" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="FinService.Finservice" value="https://smartedu.mahidol.ac.th/FinService/Finservice.asmx"/>
        <add key="urlPictureStudent" value="http://intranet.student.mahidol/studentweb/resources/images"/>
        <add key="siteLocalPictureStudent" value="\\localhost\Profile\Content\FileUpload\UploadDocument"/>
        <add key="siteServerPictureStudent" value="\\10.41.101.31\f\STWeb\StudentWeb\Resources\images"/>
        <add key="semester" value="1,2,3"/>
        <add key="ePFUserManualPath" value="../../../Content/FileDownload/eProfile"/>
        <add key="ePFUserManualFile" value="eProfileUserManual.pdf"/>
        <add key="ePFHandlerPath" value="../../../Content/Handler/eProfile/ePFHandler.ashx"/>
        <add key="hcsPDFFormTemplate" value="../../../Content/Form/HealthCareService/HCSFormTemplate.pdf"/>
        <add key="hcsPDFFontNormal" value="../../../Content/Font/HealthCareService/THSarabunNew.ttf"/>
        <add key="hcsPDFFontBold" value="../../../Content/Font/HealthCareService/THSarabunNewBold.ttf"/>
        <add key="hcsPDFFontBarcode" value="../../../Content/Font/HealthCareService/3OF9.ttf"/>
        <add key="ePFStaffHandlerPath" value="../../../Content/Handler/eProfileStaff/ePFStaffHandler.ashx"/>
        <add key="ePFStaffParamSearchCookieName" value="ePFStaffParamSearchCookie"/>
        <add key="ePFStaffRowPerPageDefault" value="50"/>
        <add key="ePFStaffRowPerPage" value="10,30,50,100,200,300"/>
        <add key="ePFStaffCountStudentRecords" value="8"/>
        <add key="ePFStaffFileDownloadPath" value="../../../Content/FileDownload/eProfile"/>
        <add key="udsFileUploadTempPath" value="../../../Content/FileUploadTemp/UploadDocument"/>
        <add key="udsFileUploadPath" value="../../../Content/FileUpload/UploadDocument"/>
        <add key="udsHandlerPath" value="../../../Content/Handler/UploadDocument/UDSHandler.ashx"/>
        <add key="udsProfilePictureWidth" value="230"/>
        <add key="udsProfilePictureHeight" value="312"/>
        <add key="udsProfilePictureWidthShow" value="230"/>
        <add key="udsProfilePictureHeightShow" value="312"/>
        <add key="udsProfilePictureZoom" value="1"/>
        <add key="udsIdentityCardWidth" value="720"/>
        <add key="udsIdentityCardHeight" value="624"/>
        <add key="udsIdentityCardWidthShow" value="360"/>
        <add key="udsIdentityCardHeightShow" value="312"/>
        <add key="udsIdentityCardZoom" value="2"/>
        <add key="udsTranscriptWidth" value="800"/>
        <add key="udsTranscriptHeight" value="1132"/>
        <add key="udsTranscriptWidthShow" value="295"/>
        <add key="udsTranscriptHeightShow" value="417"/>
        <add key="udsTranscriptZoom" value="3"/>
        <add key="udsStaffHandlerPath" value="../../../Content/Handler/UploadDocumentStaff/UDSStaffHandler.ashx"/>
        <add key="udsStaffParamSearchCookieName" value="UDSStaffParamSearchCookie"/>
        <add key="udsStaffRowPerPageDefault" value="50"/>
        <add key="udsStaffRowPerPage" value="10,30,50,100,200,300"/>
        <add key="udsStaffFileDownloadPath" value="../../../Content/FileDownload/UploadDocument"/>
        <add key="hcsStaffParamSearchCookieName" value="HCSStaffParamSearchCookie"/>
        <add key="hcsStaffRowPerPageDefault" value="50"/>
        <add key="hcsStaffRowPerPage" value="10,30,50,100,200,300"/>
        <add key="hcsStaffFileDownloadPath" value="../../../Content/FileDownload/HealthCareService"/>
        <add key="hcsStaffHandlerPath" value="../../../Content/Handler/HealthCareServiceStaff/HCSStaffHandler.ashx"/>
        <add key="segHandlerPath" value="../../../Content/Handler/StudentExpectGraduate/SEGHandler.ashx"/>
        <add key="ecpParamSearchCookieName" value="eCPParamSearchCookie"/>
        <add key="ecpStaffRowPerPageDefault" value="50"/>
        <add key="ecpStaffRowPerPage" value="10,30,50,100,200,300"/>
        <add key="NStudentService.StudentService" value="http://www.student.mahidol.ac.th/Infinity/InfoService/Module/Student/StudentService.asmx"/>
        <add key="MUAccountService.MUService" value="https://uas.mahidol.ac.th/aws/MUService.asmx"/>
    </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx"/>
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="50000000"/>
            </webServices>
        </scripting>
    </system.web.extensions>
</configuration>
