/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๖/๐๗/๒๕๕๘>
Modify date : <๑๘/๐๓/๒๕๖๓>
Description : <Style Sheet จัดรูปการแสดงผล>
=============================================
*/

a:link {
    text-decoration: none;
    outline: none;
}
a:visited {
    text-decoration: none;
    outline: none;
}
a:active {
    text-decoration: none;
    outline: none;
}
a:hover {
    text-decoration: none;
    outline: none;
}

body {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: default;
}

html, body {
    height: 100%;
}
body > #bodymain {
    height: auto;
    min-height: 100%;
}
#bodymain,
#headbody,
#bodyfooter {
    width: 100%;
    text-align: center;
}
#mainbody,
#headbody,
#footerbody {
    min-width: 1008px;
}
#headbody-layout,
#menubar-layout,
#footerbody-layout {
    width: auto;
}
#menubar #menubar-layout {
    height: 30px;
}
#menubar #menubar-content {
    width: inherit;
}
#contentbody #contentbody-layout {
    width: auto;
    padding-bottom: 59px;
}
#contentbody #contentbody-content {
    width: inherit;
    text-align: center;
}
.contentbody-left {
    float: left;
}
.contentbody-right {
    float: right;
}
#headbody {
    background: #1D4F91;
}
#headbody .box {
    border-top: 6px solid #892A73;
}
#headbody #headbody-layout {
    height: 59px;
    background: #1D4F91;
}
#headbody #headbody-content {
    height: inherit;
}
#headbody #headbody-content #headbody-content-left {
    width: 509px;
    height: inherit;
    background: url(../../Image/HealthCareServiceStaff/Label.png) no-repeat 0 0;
}
#headbody #headbody-content #headbody-content-right {
    width: 481px;
    height: inherit;
    background: url(../../Image/HealthCareServiceStaff/Label.png) no-repeat -509px 0;
}
#bodysearch {
    position: fixed;
    left: 0;
    z-index: 999;
}
#bodyfooter {
    margin-top: -59px;
    height: 59px;
    background: #087465;
    position: relative;
    z-index: 997;
}
#footerbody .box {
    border-top: 6px solid #892A73;
}
#footerbody #footerbody-content {
    padding-top: 5px;
}
#footerbody #footerbody-content .th-label,
#footerbody #footerbody-content .en-label {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    color: #FFFFFF;
}
#footerbody #footerbody-content .th-label {
    font-size: 14px;
}

.sticky {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.clear {
    clear: both;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

form,
input,
select,
span {
    margin: 0;
    padding: 0;
    outline: none;
}
.frame-util {
    width: 0;
    height: 0;
    border: none;
}
input.inputcalendar {
    width: 80px;
    cursor: default;
}
img.ui-datepicker-trigger {
    cursor: pointer;
}
a {
    outline: none;
}
.box {
    width: auto;
}
.hidden {
    display: none;
}
.th-label {
    font: bold 14px Tahoma, Verdana, Arial, sans-serif;
    color: #000000;
}
.en-label {
    font: bold 16px Corbel, Verdana, Arial, sans-serif;
    color: #666666;
}

.inputbox,
.inputcalendar {
    border: 2px solid #BDC3C7;
    text-decoration: none;
    font: normal 14px Tahoma, Verdana, Arial, sans-serif;
    padding: 0 2px 1px 2px;
    height: 24px;
	color: #000000;
    background-color: #FFFFFF;
    outline: none;
    cursor: default;
}

.ui-datepicker .ui-datepicker-title select {
    font: normal 11px Tahoma, Verdana, Arial, sans-serif;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: url(../../Image/HealthCareServiceStaff/Arrow.png) no-repeat;
    background-position: 40px; 
    width: 56px;
    text-indent: 0.01px;
    text-overflow: "";
    height: 19px;
    padding: 0;
    padding-left: 1px;
	color: #000000;
    background-color: #FFFFFF; 
}
.ui-datepicker {
    font-family: Corbel, Verdana, Arial, sans-serif;
}
.ui-datepicker .ui-datepicker-title select::-ms-expand {
    display: none;
}
.ui-datepicker th {
    font-weight: bold;
    font-size: 13px;
}
.ui-datepicker td span, .ui-datepicker td a {
    font-weight: normal;
    font-size: 13px;
}

.textbox-numeric {
    text-align: right;
}
.textbox-disable {
    color: #000000;
    background-color: #CCCCCC;
    cursor: default;
}
.textareabox {
    font: normal 14px Tahoma, Verdana, Arial, sans-serif;
    border: 2px solid #BDC3C7;
    text-decoration: none;
    padding: 0 2px 1px 2px;
    line-height: 22px;
    color: #000000;
    resize: none;
    background-color: #FFFFFF;
    outline: none;
    overflow-y: auto;
}

.checkbox,
.radio {
    margin: 0;
    padding: 0;
    color: #000000;
    outline: none;
    cursor: default;
}

.toggleswitch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
}
.toggleswitch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.toggleswitch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCCCCC;
    -webkit-transition: .0s;
    transition: .0s;
}
.toggleswitch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: #FFFFFF;
    -webkit-transition: .0s;
    transition: .0s;
}
.toggleswitch input:checked + .slider {
    background-color: #2196F3;
}
.toggleswitch input:focus + .slider {
    box-shadow: 0 0 0 #2196F3;
}
.toggleswitch input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}
.toggleswitch .slider.round {
    border-radius: 34px;
}
.toggleswitch .slider.round:before {
    border-radius: 50%;
}

.class-dialog-preloading,
.class-dialog-box,
.class-dialog-error,
.class-dialog-confirm {
    z-index: 3001;
}
.class-dialog-preloading .ui-dialog-titlebar,
.class-dialog-box .ui-dialog-titlebar,
.class-dialog-error .ui-dialog-titlebar,
.class-dialog-confirm .ui-dialog-titlebar,
.class-dialog-preloading .ui-dialog-buttonpane {
    display: none;
}
.class-dialog-preloading .ui-dialog-content {
    width: 128px;
    height: 128px;
    background: url(../../Image/HealthCareServiceStaff/Preloading.gif) no-repeat center center;
    border: 0;
    padding: 55px 0 0 0;
    text-align: center;
    font: bold 14px Corbel, Verdana, Arial, sans-serif;
}
.class-dialog-box .ui-dialog-content,
.class-dialog-box .ui-dialog-buttonpane {
    border: 3px solid #428001;
    background: #428001;
}
.class-dialog-error .ui-dialog-content,
.class-dialog-error .ui-dialog-buttonpane {
    border: 3px solid #B82A28;
    background: #B82A28;
}
.class-dialog-confirm .ui-dialog-content,
.class-dialog-confirm .ui-dialog-buttonpane {
    border: 3px solid #2A80B9;
    background: #2A80B9;
}
.class-dialog-box .ui-dialog-content,
.class-dialog-error .ui-dialog-content,
.class-dialog-confirm .ui-dialog-content {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.class-dialog-box .ui-dialog-content .th-label,
.class-dialog-error .ui-dialog-content .th-label,
.class-dialog-confirm .ui-dialog-content .th-label {
    font-size: 14px;
    line-height: 21px;
}
.class-dialog-box .ui-dialog-content .en-label,
.class-dialog-error .ui-dialog-content .en-label,
.class-dialog-confirm .ui-dialog-content .en-label {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.class-dialog-error .ui-dialog-content a:hover {
    text-decoration: underline;
}
.class-dialog-box .ui-dialog-buttonpane,
.class-dialog-error .ui-dialog-buttonpane,
.class-dialog-confirm .ui-dialog-buttonpane {
    border: 0;
}
.class-dialog-box .ui-dialog-buttonpane button,
.class-dialog-error .ui-dialog-buttonpane button,
.class-dialog-confirm .ui-dialog-buttonpane button {
    border: 0;
    font: bold 16px Corbel, Verdana, Arial, sans-serif;
    color: #FFFFFF;
    width: 85px;
    height: 32px;
    line-height: 32px;
    outline: none;
}
.class-dialog-error .ui-dialog-buttonpane button {
    background: #E84C3D;
}
.class-dialog-confirm .ui-dialog-buttonpane button {
    background: #4AA3DF;
}
.class-dialog-box .ui-dialog-buttonpane button {
    background: #59B200;
}
.class-dialog-box button:hover,
.class-dialog-error button:hover,
.class-dialog-confirm button:hover {
    color: #FFFFFF;
}
.class-dialog-box button:hover {
    background: #6BDD01;
}
.class-dialog-error button:hover {
    background: #E65D50;
}
.class-dialog-confirm button:hover {
    background: #4DADEE;
}

.class-dialog-form .ui-dialog-titlebar {
    background: #B82A28;
    border: 10px solid #9AC3BD;
    border-bottom: 0;
}
.class-dialog-form .ui-dialog-title {
    font: bold 14px Corbel, Tahoma, Verdana, Arial, sans-serif;
    color: #FFFFFF;
    padding: 8px 45px 8px 10px;
    line-height: 22px;
}
.class-dialog-form .ui-dialog-titlebar-close {
    visibility: visible;
    outline: none;
    border: 0;
    background: transparent;
}
.class-dialog-form .ui-dialog-titlebar-close {
    width: 25px;
    height: 25px;
    background: url(../../Image/HealthCareServiceStaff/Label.png) 0 -106px;
}
.class-dialog-form .ui-dialog-titlebar-close:hover {
    width: 25px;
    height: 25px;
    background: url(../../Image/HealthCareServiceStaff/Label.png) -25px -106px;
}
.class-dialog-form .ui-dialog-content {
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    border: 10px solid #9AC3BD;
    border-top: 0;
}
.class-dialog-form .msgbox {
    width: auto;
    line-height: 25px;
    padding: 10px;
    background: #ECF0F1;
    text-align: justify;
}
.class-dialog-form .msgbox.en-label {
    font-size: 18px;
    font-weight: normal;
    color: #000000;
}
.class-dialog-form .msgbox a {
    color: #000099;
}
.class-dialog-form .msgbox a:hover {
    color: #FF0000;
}

.preloading-inline {
    width: 38px;
    height: 26px;
    border: 0;
    position: relative;
}
#new-masterdataagencyregistered-program-list .preloading-inline,
#edit-masterdataagencyregistered-program-list .preloading-inline {
    left: 6px;
    top: 2px;
}

.menubar .menubar-layout {
    width: auto;
    height: 30px;
    line-height: 30px;
    background: #B07BAC;
}
.menubar .menubar-content {
    width: inherit;
}
.menubar .menubar-content ul,
.menubar .menubar-content ul ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menubar .menubar-content ul li {
    float: left;
    display: inline;
}
.menubar .menubar-content ul .link-msg {
    padding: 0 9px 0 9px;
}
.menubar .menubar-content .contentbody-left,
.menubar .menubar-content .contentbody-right {
    height: inherit;
}
.menubar .menubar-content ul .link-click {
    cursor: pointer;
}
.menubar .menubar-content ul li,
.menubar .menubar-content ul li a,
.menubar .menubar-content ul li div {
    display: block;
    height: inherit;
    line-height: inherit;
    text-decoration: none;
    color: #000000;
}
.menubar .menubar-content ul li .th-label {
    font-size: 12px;
    font-weight: normal;
}
.menubar .menubar-content ul li .en-label {
    font-size: 12px;
    font-weight: normal;
}
.menubar .menubar-content ul .have-link:hover {
    position: relative;
    background: #892A73;
}
.menubar .menubar-content ul .have-link:hover .th-label,
.menubar .menubar-content ul .have-link:hover .en-label {
    color: #FFFFFF;
}
.menubar .menubar-content ul .nohave-link:hover {
    position: relative;
}
.menubar .menubar-content ul .split-vertical {
    display: block;
    height: 35px;
    border-left: 1px solid #892A73;
    border-right: 1px solid #892A73;
}
.menubar .menubar-content ul .link-submenu:hover .submenu {
    display: block;
}
.menubar .menubar-content ul .link-submenu .submenu {
    background: #892A73;
    border-top: 6px solid #892A73;
    display: none;
    position: absolute;
    z-index: 2000;
}
.menubar .menubar-content ul .link-submenu .submenu ul li {
    float: left;
    display: inline;
    text-align: left;
}
.menubar .menubar-content ul .link-submenu .submenu ul li a .th-label {
    line-height: 21px;
    font-size: 14px;
    color: #FFFFFF;
}
.menubar .menubar-content ul .link-submenu .submenu ul li a .en-label {
    line-height: 22px;
    font-size: 13px;
    color: #333333;
}
.menubar .menubar-content ul .link-submenu .submenu ul li a {
    padding: 3px 0 5px 9px;
    width: 550px;
    min-height: 22px;
}
.menubar .menubar-content ul .link-submenu .submenu .split-horizontal {
    display: block;
    width: inherit;
    height: 6px;
    background: #7D1D03;
}
.menubar .menubar-content ul .link-submenu .submenu ul .have-link:hover {
    background: #762464;
}
.menubar .menubar-content ul .link-submenu .submenu ul .have-link:hover .en-label {
    color: #000000;
}

.infobar {
    z-index: 999;
}
.infobar .infobar-layout {
    width: auto;
    height: 47px;
    background: #EFF0F2;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
.infobar .infobar-content {
    width: inherit;
}
.infobar .infobar-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.infobar .infobar-content ul li {
    float: left;
    display: inline;
}
.infobar .infobar-content ul li .icon {
    width: 67px;
    height: 47px;
    background: url(../../Image/HealthCareServiceStaff/Label.png);
}
.infobar .infobar-content ul li .icon-config {
    background-position: 0 -59px;
}
.infobar .infobar-content ul li .icon-storage {
    background-position: -67px -59px;
}
.infobar .infobar-content ul li .icon-profile {
    background-position: -134px -59px;
}
.infobar .infobar-content ul li .icon-service {
    background-position: -201px -59px;
}
.infobar .infobar-content ul li .title {
    width: 100%;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
}
.infobar .infobar-content ul li .title .th-label {
    height: 20px;
}
.infobar .infobar-content ul li .title .en-label {
    line-height: 19px;
    font-size: 14px;
}
.infobar .infobar-content .operator ul li,
.infobar .infobar-content .operator ul li a {
    display: block;
    width: 46px;
}
.infobar .infobar-content .operator ul li .operator-img {
    width: 24px;
    height: 24px;
    background: url(../../Image/HealthCareServiceStaff/Label.png);
    margin-top: 5px;
    position: relative;
    left: 11px;
}
.infobar .infobar-content .operator ul li .operator-msg {
    height: 18px;
    line-height: 18px;
}
.infobar .infobar-content .operator ul li .en-label {
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}
.infobar .infobar-content .operator ul li:hover {
    background: #D2D7D3;
}
.infobar .infobar-content .operator ul .operator-new .operator-img {
    background-position: 0 -131px;
}
.infobar .infobar-content .operator ul .operator-edit .operator-img {
    background-position: -48px -131px;
}
.infobar .infobar-content .operator ul .operator-delete .operator-img {
    background-position: -96px -131px;
}
.infobar .infobar-content .operator ul .operator-search .operator-img {
    background-position: -144px -131px;
}
.infobar .infobar-content .operator ul .operator-reset .operator-img {
    background-position: -192px -131px;
}
.infobar .infobar-content .operator ul .operator-save .operator-img {
    background-position: -240px -131px;
}
.infobar .infobar-content .operator ul .operator-apply .operator-img {
    background-position: -288px -131px;
}
.infobar .infobar-content .operator ul .operator-undo .operator-img {
    background-position: -336px -131px;
}
.infobar .infobar-content .operator ul .operator-print .operator-img {
    background-position: -384px -131px;
}
.infobar .infobar-content .operator ul .operator-transfer .operator-img {
    background-position: -432px -131px;
}
.infobar .infobar-content .operator ul .operator-home .operator-img {
    background-position: -480px -131px;
}
.infobar .infobar-content .operator ul .operator-exportall .operator-img {
    background-position: -528px -1131px;
    left: 18px;
}
.infobar .infobar-content .operator ul .operator-exportall,
.infobar .infobar-content .operator ul .operator-exportall a {
    width: 60px;
}
.infobar .infobar-content .operator ul .operator-exportselected .operator-img {
    background-position: -576px -131px;
    left: 33px;
}
.infobar .infobar-content .operator ul .operator-exportselected,
.infobar .infobar-content .operator ul .operator-exportselected a {
    width: 90px;
}
.infobar .infobar-content .operator ul .operator-close .operator-img {
    background-position: -624px -131px;
}
.infobar .infobar-content .operator ul .operator-new:hover .operator-img,
.infobar .infobar-content .operator ul .operator-new a:hover .operator-img {
    background-position: -24px -131px;
}
.infobar .infobar-content .operator ul .operator-edit:hover .operator-img,
.infobar .infobar-content .operator ul .operator-edit a:hover .operator-img {
    background-position: -72px -131px;
}
.infobar .infobar-content .operator ul .operator-delete:hover .operator-img,
.infobar .infobar-content .operator ul .operator-delete a:hover .operator-img {
    background-position: -120px -131px;
}
.infobar .infobar-content .operator ul .operator-search:hover .operator-img,
.infobar .infobar-content .operator ul .operator-search a:hover .operator-img {
    background-position: -168px -131px;
}
.infobar .infobar-content .operator ul .operator-reset:hover .operator-img,
.infobar .infobar-content .operator ul .operator-reset a:hover .operator-img {
    background-position: -216px -131px;
}
.infobar .infobar-content .operator ul .operator-save:hover .operator-img,
.infobar .infobar-content .operator ul .operator-save a:hover .operator-img {
    background-position: -264px -131px;
}
.infobar .infobar-content .operator ul .operator-apply:hover .operator-img,
.infobar .infobar-content .operator ul .operator-apply a:hover .operator-img {
    background-position: -312px -131px;
}
.infobar .infobar-content .operator ul .operator-undo:hover .operator-img,
.infobar .infobar-content .operator ul .operator-undo a:hover .operator-img {
    background-position: -360px -131px;
}
.infobar .infobar-content .operator ul .operator-print:hover .operator-img,
.infobar .infobar-content .operator ul .operator-print a:hover .operator-img {
    background-position: -408px -131px;
}
.infobar .infobar-content .operator ul .operator-transfer:hover .operator-img,
.infobar .infobar-content .operator ul .operator-transfer a:hover .operator-img {
    background-position: -456px -131px;
}
.infobar .infobar-content .operator ul .operator-home:hover .operator-img,
.infobar .infobar-content .operator ul .operator-home a:hover .operator-img {
    background-position: -504px -131px;
}
.infobar .infobar-content .operator ul .operator-exportall:hover .operator-img,
.infobar .infobar-content .operator ul .operator-exportall a:hover .operator-img {
    background-position: -552px -131px;
}
.infobar .infobar-content .operator ul .operator-exportselected:hover .operator-img,
.infobar .infobar-content .operator ul .operator-exportselected a:hover .operator-img {
    background-position: -600px -131px;
}
.infobar .infobar-content .operator ul .operator-close:hover .operator-img,
.infobar .infobar-content .operator ul .operator-close a:hover .operator-img {
    background-position: -648px -131px;
}

#infobar-masterdata .infobar-layout {
    border-bottom-color: #1F7FC8;
}
#infobar-downloadregistrationform .infobar-layout {
    border-bottom-color: #F3781B;
}
#infobar-ourservices .infobar-layout {
    border-bottom-color: #E08283;
}

.important .important-layout {
    width: auto;
    height: 43px;
    text-align: left;
    padding: 7px 10px 0 10px;
}
.important .important-content {
    width: inherit;
    height: inherit;
}
.important .important-recommend {
    width: inherit;
    background: #F1C40F;
}
.important .important-success {
    width: inherit;
    background: #2ECC71;
    display: none;
}
.important .important-icon {
    display: inline;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    background: url(../../Image/HealthCareServiceStaff/Label.png) -111px -305px;
}
.important .important-msg {
    display: inline;
    width: inherit;
    background: #FF0000;
}
.important .important-msg .th-label {
    height: 20px;
}
.important .important-msg .en-label {
    font-size: 14px;
    font-weight: normal;
}
.important .important-msg .title {
    font-size: 18px;
    font-weight: bold;
    height: 22px;
    line-height: 18px;
}

.titlebar {
    width: inherit;
    height: 55px;
    text-align: center;
    overflow: hidden;
    background: #C81928;
}
.titlebar .th-label {
    height: 30px;
    line-height: 34px;
    color: #FFFFFF;
}
.titlebar .en-label {
    font-size: 13px;
    color: #CCCCCC;
}
.titlebar .contentbody-left:first-child {
    padding-left: 15px;
}
.titlebar .contentbody-right {
    padding-right: 10px;
    font-size: 18px;
}

.tabbar {
    z-index: 999;
}
.tabbar .tabbar-layout {
    width: auto;
    min-width: 750px;
    height: 44px;
    background: #B9B5AD;
}
.tabbar .tabbar-content {
    width: inherit;
}
.tabbar .tabbar-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.tabbar .tabbar-content ul li {
    float: left;
    display: inline;
}
.tabbar .tabbar-content ul li,
.tabbar .tabbar-content ul li a {
    display: block;
    text-decoration: none;
    height: 44px;
}
.tabbar .tabbar-content ul li .tab-itemtext {
    padding: 2px 7px 0 7px;
    text-align: left;
}
.tabbar .tabbar-content ul li .tab-itemtext .th-label {
    height: 20px;
}
.tabbar .tabbar-content ul li .tab-itemtext .en-label {
    font-size: 14px;
}
.tabbar .tabbar-content ul li .tab-active {
    background: #FFFFFF;
}
.tabbar .tabbar-content ul li .tab-active .th-label,
.tabbar .tabbar-content ul li .tab-active .en-label {
    color: #000000;
}
.tabbar .tabbar-content ul li .noactive {
    background: transparent;
}
.tabbar .tabbar-content ul li a:hover,
.tabbar .tabbar-content ul li a:hover .th-label,
.tabbar .tabbar-content ul li a:hover .en-label {
    background: #BDC3C7;
    color: #000000;
}
#main-ourservicesstatisticsdownloadhealthcareserviceform-viewsdisplay .tabbar-content ul li a {
    width: 67px;
}

.form .form-content {
    text-align: left;
}
.form .form-content .form-row {
    width: inherit;
    height: 48px;
}
.form .form-content .form-lastrow {
    height: auto;
    padding-bottom: 10px;
}
.form .form-content .form-labelcol,
.form .form-content .form-inputcol {
    float: left;
}
.form .form-content .form-labelcol {
    width: 45%;
    min-width: 316px;
    padding: 7px 0 0 10px;
    text-align: right;
}
.form .form-content .form-labelcol .form-label .th-label {
    height: 20px;
}
.form .form-content .form-labelcol .form-label .en-label {
    font-size: 13px;
}
.form .form-content .form-inputcol {
    width: 45%;
    min-width: 413px;
    padding: 13px 0 0 0;
}
.form .form-content .form-inputcol.form-inputcol-paddingbottom {
    padding-top: 5px;
}
.form .form-content .form-inputcol .form-input span {
    display: inline-block;
}
.form .form-content .form-inputcol .form-input .th-label {
    font-size: 14px;
    font-weight: normal;
}
.form .form-content .form-inputcol .form-input .en-label {
    font-size: 13px;
    font-weight: normal;
}
.form .form-content .form-inputcol .form-input .form-input-discription {
    margin-top: 5px;
    line-height: 18px;
}
.form .form-content .form-inputcol .form-input .form-input-discription .th-label,
.form .form-content .form-inputcol .form-input .form-input-discription .en-label {
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: #AFAFAF;
}
.form .form-content .form-inputcol .form-input .radio-content .th-label,
.form .form-content .form-inputcol .form-input .checkbox-content .th-label {
    line-height: 22px;
}
.form .form-content .form-inputcol .form-input .radio-content .en-label,
.form .form-content .form-inputcol .form-input .checkbox-content .en-label {
    line-height: 18px;
}
.form .form-content .form-inputcol .form-input .radio-content,
.form .form-content .form-inputcol .form-input .checkbox-content {
    width: 533px;
}
.form .form-content .form-inputcol .form-input .radio-content ul .radio-labelcol,
.form .form-content .form-inputcol .form-input .checkbox-content ul .checkbox-labelcol {
    width: 508px;
}
.form .form-content .form-inputcol .form-input .form-subcontent {
    margin-left: 23px;
    margin-top: 10px;
}
.form .form-content .form-inputcol .form-input .form-subcontent.first-child {
    margin-top: 3px;
}
.form .form-content .form-inputcol .form-input .form-subcontent .form-labelcol {
    padding: 0;
    text-align: left;
}
.form .form-content .form-inputcol .form-input .form-subcontent .form-labelcol div {
    line-height: 21px;
}
.form .form-content .form-inputcol .form-input .form-subcontent .form-labelcol .en-label {
    line-height: 18px;
    font-size: 13px;
}
.form .form-content .form-inputcol .form-input .form-subcontent .form-labelcol div:first-child span.en-label {
    color: #000000;
}
.form .form-content .form-inputcol .form-input .form-subcontent .form-inputcol {
    padding: 0;
    margin-top: 5px;
}
.form .form-content .form-inputcol .form-input .form-subcontent .radio-content,
.form .form-content .form-inputcol .form-input .form-subcontent .checkbox-content {
    padding: 0;
    margin-left: 0;
}
.form .form-content .form-inputcol .form-input .form-subcontent .radio-content .radio-labelcol,
.form .form-content .form-inputcol .form-input .form-subcontent .checkbox-content .checkbox-labelcol {
    width: 295px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left {
    margin-left: 4px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left:first-child {
    margin-left: 0;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left:last-child,
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left:last-child {
    margin-left: 1px;
    padding-top: 54px;
    width: 50px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left .button {
    margin-top: 5px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left .button ul li a {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #000000;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left:last-child .link ul li,
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left:last-child .link ul li {
    text-align: right;
    width: 44px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-input .contentbody-left:last-child .link ul li .en-label,
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left:last-child .link ul li .en-label {
    font-size: 13px;
    font-weight: bold;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row:first-child {
    border: none;
    border-top: 1px dashed #CCCCCC;
    margin-top: 10px;
    padding-top: 5px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left {
    margin-left: 4px;
    padding-left: 5px;
    padding-right: 3px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left:first-child {
    margin-left: 0;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left div {
    line-height: 21px;
}
.form .form-content .form-inputcol .form-input .form-inputlist .form-inputlist-list .list-row .contentbody-left:last-child {
    padding: 0;
    padding-top: 1px;
}

.dialog-form .form-layout {
    background: #F5F5F5;
    width: auto;
}
.dialog-form .form-content {
    width: inherit;
    padding: 0;
}
.dialog-form .form-content .form-labelcol {
    min-width: 0;
    width: 50%;
    text-align: left;
}
.dialog-form .form-content .form-inputcol {
    min-width: 0;
    width: 50%;
    padding: 9px 0 0 0;
    text-align: left;
}
.dialog-form .form-content .form-inputcol .form-input {
    word-wrap: break-word;
    word-break: break-all;
}
.dialog-form .form-content .form-inputcol .form-input .alertmessage {
    height: 26px;
    line-height: 26px;
    position: relative;
    left: 64px;
}
.dialog-form .form-content .button ul li a,
.dialog-form .form-content .button ul li div {
    width: 80px;
    height: 30px;
    line-height: 30px;
}

.dialogmessage-form .form-layout {
    background: #FFFFFF;
    width: auto;
}
.dialogmessage-form .form-content {
    width: inherit;
    padding: 10px;
}
.dialogmessage-form .form-content hr {
    width: auto;
    height: 1px;
    border: none;
    border-top: 1px dashed #CCCCCC;
}
.dialogmessage-form .form-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.dialogmessage-form .form-content ul li {
    padding-left: 15px;
    line-height: 25px;
    font-weight: normal;
    text-wrap: normal;
    text-align: justify;
}
.dialogmessage-form .form-content ul li:before {
    position: absolute;
    content: "•";
    left: 0;
}
.dialogmessage-form .form-content div {
    line-height: 25px;
    font-weight: normal;
    text-wrap: normal;
    text-align: justify;
}

.radio-content ul, .checkbox-content ul {
    margin: 0;
    margin-top: 7px;
    padding: 0;
    list-style-type: none;
    clear: both;
}
.radio-content:first-child ul,
.checkbox-content:first-child ul {
    margin-top: 0;
}
.radio-content ul li,
.checkbox-content ul li {
    float: left;
    display: inline-block;
}
.radio-content ul .radio-inputcol,
.checkbox-content ul .checkbox-inputcol {
    position: relative;
    width: 25px;
    margin-top: -1px;
}
.radio-content ul .radio-labelcol,
.checkbox-content ul .checkbox-labelcol {
    width: 60px;
}
.radio-content ul .radio-labelcol span,
.radio-content ul .radio-labelcol div, 
.checkbox-content ul .checkbox-labelcol span,
.checkbox-content ul .checkbox-labelcol div {
    line-height: 22px;
}
.radio-content ul .radio-labelcol .link-click {
    display: block;
    text-decoration: underline;
    cursor: pointer;
}

.list .list-layout {
    width: auto;
    height: inherit;
    border: 2px solid #BDC3C7;
    background: #FFFFCC;
    overflow: hidden;
    overflow-y: auto;
}
.list .list-content {
    width: inherit;
}
.list .list-content .list-row:hover {
    background: #000099;
    outline: none;
}
.list .list-content .list-row:hover .th-label,
.list .list-content .list-row:hover .en-label {
    color: #FFFFFF;
}
.list .list-content .list-col {
    padding: 6px;
    padding-top: 3px;
    line-height: 18px;
    word-wrap: break-word;
}
.list .list-content .list-col .checkbox-content ul {
    margin-top: 0;
}
.list .list-content .list-col .checkbox-content .checkbox-inputcol {
    margin-top: 0;
}

.icon-fieldmark {
    display: inline-block;
    width: 20px;
    height: 10px;
    background: url(../../Image/HealthCareServiceStaff/Label.png) -50px -106px;
}
.icon-fieldmarkblank {
    display: inline-block;
    width: 20px;
    height: 10px;
}

.button .button-layout {
    width: auto;
}
.button .button-content {
    width: inherit;
}
.button .button-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.button .button-content ul li {
    display: block;
    float: left;
    text-align: center;
    margin-left: 6px;
}
.button .button-content ul .nomargin {
    margin-left: 0;
}
.button .button-content ul li a,
.button .button-content ul li div {
    display: block;
    text-decoration: none;
    outline: none;
    color: #FFFFFF;
    cursor: pointer;
}
.button .button-content ul li a:hover,
.button .button-content ul li div:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.button .button-content .button-style1 li a,
.button .button-content .button-style1 li div {
    background: #1ABC9C;
}
.button .button-content .button-style1 li a:hover,
.button .button-content .button-style1 li div:hover {
    background: #48C9B0;
}
.button .button-content .button-style2 li a,
.button .button-content .button-style2 li div {
    background: #D2D7D3;
    color: #000000;
}
.button .button-content .button-style2 li a:hover,
.button .button-content .button-style2 li div:hover {
    background: #DADFE1;
    color: #000000;
}
.button .button-content .button-style3 li a,
.button .button-content .button-style3 li div {
    background: #E1D193;
    color: #000000;
}
.button .button-content .button-style3 li a:hover,
.button .button-content .button-style3 li div:hover {
    background: #E4C568;
    color: #000000;
}
.button .button-content .button-style4 li a,
.button .button-content .button-style4 li div {
    background: #E84C3D;
    color: #000000;
}
.button .button-content .button-style4 li a:hover,
.button .button-content .button-style4 li div:hover {
    background: #E65D50;
    color: #000000;
}
.button .button-content ul li .disable {
    background: #C8C8C8;
    color: #A6A5A5;
    cursor: default;
}
.button .button-content ul li .disable:hover {
    background: #C8C8C8;
    color: #A6A5A5;
    cursor: default;
}

.search {
    background: #EFF0F2;
    overflow: hidden;
}
.search .search-layout {
    width: 392px;
    padding: 12px 0 0 0;
}
.search .search-content {
    width: inherit;
    position: relative;
    left: 10px;
}
.search .button-toggle {
    position: absolute;
    top: 0;
}
.search .button-toggle a {
    display: block;
    width: 20px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
}
.search .button-toggle a:hover {
    color: #FFFFFF;
}
.search .search-content .search-sort-content .contentbody-left:first-child {
    margin-right: 6px;
}
.search .search-content .search-date-content .contentbody-left:nth-child(2) {
    width: 22px;
    text-align: center;
    font-size: 18px;
}
.form.search .form-content .form-labelcol {
    width: auto;
    height: 21px;
    padding: 0;
    text-align: left;
}
.form.search .form-content .form-inputcol {
    height: 21px;
    padding: 0;
}
.form.search .form-content .form-labelcol .form-label .th-label {
    font-size: 13px;
    color: #000000;
}
.form.search .form-content .form-labelcol .form-label .en-label {
    font-size: 13px;
    color: #1ABC9C;
}
.form.search .form-content .form-inputcol .form-input .inputbox, 
.form.search .form-content .form-inputcol .form-input .inputcalendar {
    font: normal 12px Tahoma, Verdana, Arial, sans-serif;
    padding: 0 2px 1px 2px;
    height: 20px;
}
.form.search .form-content .form-inputcol .form-input .select2-container--default .select2-selection--single .select2-selection__rendered {
    font: normal 12px Tahoma, Verdana, Arial, sans-serif;
    padding-top: 2px;
}
.form.search .form-content .button {
    margin-top: 0;
}
.form.search .form-content .button .button-content ul li:nth-child(2) {
    margin-left: 6px;
}
.form.search .form-content .button ul li .en-label {
    font-size: 16px;
    font-weight: bold;
}
#search-masterdatahospitalofhealthcareservice-form,
#search-masterdataregistrationform-form,
#search-masterdataagencyregistered-form {
    background: #1F7FC8;
}
#search-downloadregistrationform-form {
    background: #F3781B;
}
#search-ourserviceshealthinformation-form,
#search-ourservicesstatisticsdownloadhealthcareserviceform-form,
#search-ourservicestermservicehcsconsent-form {
    background: #E08283;
}

#search-masterdatahospitalofhealthcareservice-form #search-masterdatahospitalofhealthcareservice-search-content .form-labelcol,
#search-masterdataregistrationform-form #search-masterdataregistrationform-search-content .form-labelcol,
#search-masterdataagencyregistered-form #search-masterdataagencyregistered-search-content .form-labelcol,
#search-downloadregistrationform-form #search-downloadregistrationform-search-content .form-labelcol,
#search-ourserviceshealthinformation-form #search-ourserviceshealthinformation-search-content .form-labelcol,
#search-ourservicesstatisticsdownloadhealthcareserviceform-form #search-ourservicesstatisticsdownloadhealthcareserviceform-search-content .form-labelcol,
#search-ourservicestermservicehcsconsent-form #search-ourservicestermservicehcsconsent-search-content .form-labelcol {
    display: none;
}

#search-masterdatahospitalofhealthcareservice-form #search-masterdatahospitalofhealthcareservice-sort-content .form-inputcol,
#search-masterdataregistrationform-form #search-masterdataregistrationform-sort-content .form-inputcol,
#search-masterdataagencyregistered-form #search-masterdataagencyregistered-sort-content .form-inputcol,
#search-downloadregistrationform-form #search-downloadregistrationform-sort-content .form-inputcol,
#search-ourserviceshealthinformation-form #search-ourserviceshealthinformation-sort-content .form-inputcol,
#search-ourservicesstatisticsdownloadhealthcareserviceform-form #search-ourservicesstatisticsdownloadhealthcareserviceform-sort-content .form-inputcol,
#search-ourservicestermservicehcsconsent-form #search-ourservicestermservicehcsconsent-sort-content .form-inputcol{
    height: 25px;
}

#search-masterdatahospitalofhealthcareservice-form .button-toggle a,
#search-masterdataregistrationform-form .button-toggle a,
#search-masterdataagencyregistered-form .button-toggle a {
    background: #1F7FC8;
}
#search-downloadregistrationform-form .button-toggle a {
    background: #F3781B;
}
#search-ourserviceshealthinformation-form .button-toggle a,
#search-ourservicesstatisticsdownloadhealthcareserviceform-form .button-toggle a,
#search-ourservicestermservicehcsconsent-form .button-toggle a {
    background: #E08283;
}
#search-masterdatahospitalofhealthcareservice-form .button-toggle a:hover,
#search-masterdataregistrationform-form .button-toggle a:hover,
#search-masterdataagencyregistered-form .button-toggle a:hover {
    background: #286090;
}
#search-downloadregistrationform-form .button-toggle a:hover {
    background: #C26016;
}
#search-ourserviceshealthinformation-form .button-toggle a:hover,
#search-ourservicesstatisticsdownloadhealthcareserviceform-form .button-toggle a:hover,
#search-ourservicestermservicehcsconsent-form .button-toggle a:hover {
    background: #CC7475;
}

.form.addupdate .form-content .button ul li a,
.form.addupdate .form-content .button ul li div {
    width: 80px;
    height: 30px;
    line-height: 30px;
}
.form.addupdate .form-content .button ul li .en-label {
    font-size: 16px;
    font-weight: bold;
}

.form.progress .form-layout {
    width: auto;
}
.form.progress .form-content {
    width: inherit;
    text-align: center;
}
.form.progress .form-content .form-lastrow {
    padding-bottom: 3px;
}
.form.progress .form-content .form-labelcol .icon-fieldmarkblank {
    width: 10px;
}
.form.progress .form-content .form-inputcol.form-inputcol-paddingbottom {
    padding-top: 7px;
}
.form.progress .form-content .form-inputcol .form-input .progresstext .th-label {
    line-height: 18px;
}
.form.progress .form-content .form-inputcol .form-input .progresstext .en-label {
    line-height: 20px;
}
.form.progress .form-content .form-inputcol .form-input .progresstotal {
    padding-left: 1px;
    line-height: 35px;
}
.form.progress .form-content .button ul li div {
    width: 205px;
}
.form.progress .form-content .button ul li .en-label {
    font-size: 16px;
    font-weight: bold;
}
#progress-downloadregistrationform-form .form-content .form-labelcol,
#progress-ourserviceshealthinformation-form .form-content .form-labelcol,
#progress-ourservicesstatisticsdownloadhealthcareserviceformlevel1viewtable-form .form-content .form-labelcol,
#progress-ourservicesstatisticsdownloadhealthcareserviceformlevel2viewtable-form .form-content .form-labelcol,
#progress-ourservicestermservicehcsconsent-form .form-content .form-labelcol {
    width: 305px;
}
#progress-downloadregistrationform-form .form-content .form-inputcol,
#progress-ourserviceshealthinformation-form .form-content .form-inputcol,
#progress-ourservicesstatisticsdownloadhealthcareserviceformlevel1viewtable-form .form-content .form-inputcol,
#progress-ourservicesstatisticsdownloadhealthcareserviceformlevel2viewtable-form .form-content .form-inputcol,
#progress-ourservicestermservicehcsconsent-form .form-content .form-inputcol {
    width: auto;
}

.error-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.error-list ul li {
    text-decoration: none;
    padding-left: 15px;
}
.error-list ul li:before {
    position: absolute;
    content: "•";
    color: #000000;
    left: 0;
}
.error-list ul li {
    line-height: 20px;
}

.table .table-layout {
    width: auto;
}
.table .table-content {
    width: inherit;
}
.table .table-content .table-head,
.table .table-content .table-grid {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.table .table-content .table-row {
    display: table-row;
}
.table .table-content .table-head .table-row {
    height: 52px;
}
.table .table-content .table-col {
    display: table-cell;
    border-left: 1px solid #E4E4E4;
}
.table .table-content .table-col1 {
    border-left: 0;
}
.table .table-content .table-col-width-dynamic {
    width: auto;
}
.table .table-content .table-freeze {
    z-index: 996;
}
.table .table-content .table-title {
    overflow: hidden;
    background: #FFFFFF;
    height: 37px;
}
.table .table-content .table-title .contentbody-left {
    height: inherit;
}
.table .table-content .table-title .contentbody-left:first-child {
    margin-left: 7px;
}
.table .table-content .table-title .contentbody-right {
    margin-right: 8px;
    height: 35px;
}
.table .table-content .table-title .button,
.table .table-content .table-title .table-option {
    text-align: left;
    position: relative;
    top: 6px;
}
.table .table-content .table-title .table-option.table-rowperpage {
    width: 103px;
}
.table .table-content .table-title .table-option.table-rowperpage .select2-container--default .select2-selection--single .select2-selection__rendered {
    font: normal 12px Tahoma, Verdana, Arial, sans-serif;
}
.table .table-content .table-title .table-subject {
    line-height: 35px;
}
.table .table-content .table-title .table-recordcount {
    line-height: 33px;
    font-size: 18px;
}
.table .table-content .table-title .link-click {
    cursor: pointer;
}
.table .table-content .table-title .button ul li a,
.table .table-content .table-title .button ul li div {
    height: 25px;
    line-height: 26px;
    font-size: 12px;
}
.table .table-content .table-head {
    background: #2C3E50;
}
.table .table-content .table-head .table-col .table-col-msg .th-label {
    font-size: 13px;
    color: #FFFFFF;
}
.table .table-content .table-head .table-col .table-col-msg .en-label {
    font-size: 12px;
    color: #FFFFFF;
}
.table .table-content .table-grid .table-col .table-col-msg .th-label {
    font-size: 12px;
    font-weight: normal;
}
.table .table-content .table-head .table-col {
    overflow: hidden;
}
.table .table-content .table-head .table-col .table-col-msg {
    margin: 5px 7px 5px 7px;
    padding: 0;
    white-space: nowrap;
}
.table .table-content .table-head .table-col .table-col-msg div {
    line-height: 20px;
}
.table .table-content .table-head .table-col .table-col-msg .input-root {
    line-height: 15px;
}
.table .table-content .table-col .table-col-msg {
    padding: 7px;
    text-decoration: none;
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
}
.table .table-content .table-grid .table-row:hover, 
.table .table-content .table-grid .table-row.active:hover {
    background: #1ABC9C;
    cursor: pointer;
}
.table .table-content .table-grid .table-row:hover .table-col .table-col-msg .th-label,
.table .table-content .table-grid .table-row.active:hover .table-col .table-col-msg .th-label {
    color: #FFFFFF;
}
.table .table-content .table-grid .table-row.active {
    background: #B82A28;
}
.table .table-content .table-grid .table-row.active .table-col .table-col-msg .th-label {
    color: #FFFFFF;
}
.table .table-content .table-grid .table-col .table-col-msg {
    padding-top: 5px;
    padding-bottom: 5px;
}
.table .table-content .table-grid .table-col .table-col-msg div {
    line-height: 20px;
}
.table .table-content .table-grid .table-col .table-col-msg .link-click {
    text-decoration: underline;
}

.chart .chart-layout {
    width: auto;
}
.chart .chart-content {
    width: inherit;
}
.chart .chart-content .chart-grid {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.chart .chart-content .chart-row {
    display: table-row;
    width: inherit;
}
.chart .chart-content .chart-col {
    display: table-cell;
    width: inherit;
}
.chart .chart-content .chart-col-width-dynamic {
    width: auto;
}
.chart .chart-content .chart-freeze {
    z-index: 996;
}
.chart .chart-content .chart-title {
    overflow: hidden;
    background: #FFFFFF;
}
.chart .chart-content .chart-title .contentbody-left:first-child {
    margin-left: 7px;
    text-align: left;
}
.chart .chart-content .chart-title .contentbody-left .th-label {
    height: 20px;
    margin-top: 9px;
}
.chart .chart-content .chart-title .contentbody-left .en-label {
    line-height: 17px;
    font-size: 14px;
}
.chart .chart-content .chart-title .contentbody-right {
    margin-right: 8px;
    height: 35px;
}
.chart .chart-content .chart-title .chart-recordcount {
    line-height: 33px;
    font-size: 18px;
}
.chart .chart-content .chart-grid .chart-col {
    padding: 10px 7px 10px 7px;
}

.highlight-style1 {
    background: #FFFFFF;
}
.highlight-style2 {
    background: #F1F1F1;
}
.highlight-style3 {
    background: #ECECEC;
}

.navpage .navpage-layout {
    width: auto;
    min-width: 665px;
    background: #2C3E50;
    padding: 10px;
}
.navpage .navpage-content {
    width: inherit;
    overflow: hidden;
}
.navpage .navpage-content ul {
    float: left;
    position: relative;
    left: 50%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 40px;
}
.navpage .navpage-content ul li {
    float: left;
    display: block;
    margin-right: 3px;
    position: relative;
    right: 50%;
    width: 50px;
    height: 40px;
    line-height: 40px;
}
.navpage .navpage-content ul li a,
.navpage .navpage-content ul li div {
    display: block;
    width: inherit;
    height: inherit;
    line-height: inherit;
    text-align: center;
    text-decoration: none;
    background: #222222;
    color: #FFFFFF;
}
.navpage .navpage-content ul li a:hover {
    background: #1ABC9C;
    color: #FFFFFF;
    text-decoration: none;
}
.navpage .navpage-content ul li div {
    background: transparent;
}
.navpage .navpage-content ul .active {
    background: #1ABC9C;
    color: #FFFFFF;
}

#main-meaningofadmissiontype-form .form-content ul li,
#main-meaningofstudentstatus-form .form-content ul li {
    float: left;
    display: inline;
    padding-left: 0;
}
#main-meaningofadmissiontype-form .form-content ul li:first-child,
#main-meaningofstudentstatus-form .form-content ul li:first-child {
    padding-left: 15px;
}
#main-meaningofadmissiontype-form .form-content ul li:first-child {
    width: 90px;
}
#main-meaningofstudentstatus-form .form-content ul li:first-child {
    width: 35px;
}

#main-meaningofhealthcareserviceform-form .form-content ul li {
    float: left;
    display: inline;
    padding-left: 0;
}
#main-meaningofhealthcareserviceform-form .form-content ul li:first-child {
    padding-left: 15px;
} 
#main-meaningofhealthcareserviceform-form .form-content ul li:first-child {
    width: 138px;
}

#main-masterdatahospitalofhealthcareservice-table .table-col1 {
    width: 67px;
}
#main-masterdatahospitalofhealthcareservice-table .table-col2 {
    width: 49px;
}
#main-masterdatahospitalofhealthcareservice-table .table-col5 {
    width: 64px;
}
#main-masterdatahospitalofhealthcareservice-table .table-col6 {
    width: 135px;
}
#main-masterdatahospitalofhealthcareservice-table .table-col7 {
    width: 135px;
}
#main-masterdatahospitalofhealthcareservice-table .table-grid .table-col3 .table-col-msg div,
#main-masterdatahospitalofhealthcareservice-table .table-grid .table-col4 .table-col-msg div  {
    text-align: left;
}

#main-masterdataregistrationform-table .table-col1 {
    width: 67px;
}
#main-masterdataregistrationform-table .table-col2 {
    width: 128px;
}
#main-masterdataregistrationform-table .table-col5 {
    width: 66px;
}
#main-masterdataregistrationform-table .table-col6 {
    width: 45px;
}
#main-masterdataregistrationform-table .table-col7 {
    width: 64px;
}
#main-masterdataregistrationform-table .table-col8 {
    width: 135px;
}
#main-masterdataregistrationform-table .table-col9 {
    width: 135px;
}
#main-masterdataregistrationform-table .table-grid .table-col2 .table-col-msg div,
#main-masterdataregistrationform-table .table-grid .table-col3 .table-col-msg div,
#main-masterdataregistrationform-table .table-grid .table-col4 .table-col-msg div {
    text-align: left;
}

#main-masterdataagencyregistered-table .table-col1 {
    width: 67px;
}
#main-masterdataagencyregistered-table .table-col2 {
    width: 63px;
}
#main-masterdataagencyregistered-table .table-col3 {
    width: 53px;
}
#main-masterdataagencyregistered-table .table-col4 {
    width: 120px;
}
#main-masterdataagencyregistered-table .table-col5 {
    width: 58px;
}
#main-masterdataagencyregistered-table .table-col8 {
    width: 64px;
}
#main-masterdataagencyregistered-table .table-col9 {
    width: 135px;
}
#main-masterdataagencyregistered-table .table-col10 {
    width: 135px;
}
#main-masterdataagencyregistered-table .table-grid .table-col6 .table-col-msg div,
#main-masterdataagencyregistered-table .table-grid .table-col7 .table-col-msg div {
    text-align: left;
}

#main-downloadregistrationform-table .table-col1 {
    width: 67px;
}
#main-downloadregistrationform-table .table-col2 {
    width: 65px;
}
#main-downloadregistrationform-table .table-col3 {
    width: 65px;
}
#main-downloadregistrationform-table .table-col5 {
    width: 53px;
}
#main-downloadregistrationform-table .table-col6 {
    width: 120px;
}
#main-downloadregistrationform-table .table-col7 {
    width: 63px;
}
#main-downloadregistrationform-table .table-col8 {
    width: 89px;
}
#main-downloadregistrationform-table .table-col9 {
    width: 135px;
}
#main-downloadregistrationform-table .table-col10 {
    width: 68px;
}
#main-downloadregistrationform-table .table-grid .table-col4 .table-col-msg div {
    text-align: left;
}
#main-downloadregistrationform-table .table-title .button ul li div {
    width: 115px;
}

#main-ourserviceshealthinformation-table .table-title .button ul li div {
    width: 101px;
}
#main-ourserviceshealthinformation-table .table-col1 {
    width: 67px;
}
#main-ourserviceshealthinformation-table .table-col2 {
    width: 65px;
}
#main-ourserviceshealthinformation-table .table-col3 {
    width: 65px;
}
#main-ourserviceshealthinformation-table .table-col5 {
    width: 120px;
}
#main-ourserviceshealthinformation-table .table-col6 {
    width: 63px;
}
#main-ourserviceshealthinformation-table .table-col7 {
    width: 50px;
}
#main-ourserviceshealthinformation-table .table-col8 {
    width: 152px;
}
#main-ourserviceshealthinformation-table .table-col9 {
    width: 40px;
}
#main-ourserviceshealthinformation-table .table-grid .table-col4 .table-col-msg div {
    text-align: left;
}

#main-ourservicesstatisticsdownloadhealthcareserviceformviewtable .table .table-title .button ul li div {
    width: 50px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel1viewtable-table .table-col2 {
    width: 90px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel1viewtable-table .table-col3 {
    width: 190px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel1viewtable-table .table-col4 {
    width: 224px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel1viewtable-table .table-grid .table-col1 .table-col-msg div {
    text-align: left;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel1viewtable-table .table-navpage .navpage .navpage-layout {
    height: 1px;
    background: #E4E4E4;
    padding: 0;
}

#main-ourservicesstatisticsdownloadhealthcareserviceformlevel2viewtable-table .table-col1 {
    width: 67px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel2viewtable-table .table-col2 {
    width: 65px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel2viewtable-table .table-col4 {
    width: 53px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel2viewtable-table .table-col5 {
    width: 120px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel2viewtable-table .table-col6 {
    width: 63px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel2viewtable-table .table-col7 {
    width: 89px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel2viewtable-table .table-col8 {
    width: 60px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel2viewtable-table .table-col9 {
    width: 135px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel2viewtable-table .table-col10 {
    width: 68px;
}
#main-ourservicesstatisticsdownloadhealthcareserviceformlevel2viewtable-table .table-grid .table-col3 .table-col-msg div {
    text-align: left;
}

#main-ourservicestermservicehcsconsent-table .table-title .button ul li div {
    width: 101px;
}
#main-ourservicestermservicehcsconsent-table .table-col1 {
    width: 67px;
}
#main-ourservicestermservicehcsconsent-table .table-col2 {
    width: 65px;
}
#main-ourservicestermservicehcsconsent-table .table-col3 {
    width: 65px;
}
#main-ourservicestermservicehcsconsent-table .table-col5 {
    width: 120px;
}
#main-ourservicestermservicehcsconsent-table .table-col6 {
    width: 63px;
}
#main-ourservicestermservicehcsconsent-table .table-col7 {
    width: 89px;
}
#main-ourservicestermservicehcsconsent-table .table-col8 {
    width: 80px;
}
#main-ourservicestermservicehcsconsent-table .table-col9 {
    width: 60px;
}
#main-ourservicestermservicehcsconsent-table .table-col10 {
    width: 135px;
}
#main-ourservicestermservicehcsconsent-table .table-grid .table-col4 .table-col-msg div {
    text-align: left;
}

#dialog-ourservicestermservicehcsconsentselecthospital-form .form-content .form-labelcol {
    display: none;
}
#dialog-ourservicestermservicehcsconsentselecthospital-form .form-content .form-inputcol {
    clear: both;
    width: auto;
    padding-left: 10px;
}
#dialog-ourservicestermservicehcsconsentselecthospital-form .form-content .form-inputcol .button {
    margin-left: 190px;
}
#dialog-ourservicestermservicehcsconsentselecthospital-form #dialog-ourservicestermservicehcsconsentselecthospital-hospital-content .form-inputcol {
    padding-top: 10px;
}

#new-masterdataagencyregistered-form .form-subcontent,
#edit-masterdataagencyregistered-form .form-subcontent {
    margin: 0;
}
#new-masterdataagencyregistered-form .form-subcontent .list {
    width: 533px;
    height: 150px;
}
#edit-masterdataagencyregistered-form .form-subcontent .list {
    width: 533px;
}
#new-masterdataagencyregistered-form .form-subcontent .list .list-content .checkbox-content .checkbox-labelcol,
#edit-masterdataagencyregistered-form .form-subcontent .list .list-content .checkbox-content .checkbox-labelcol {
    width: 476px;
    margin-top: 0;
}
#new-masterdataagencyregistered-form .form-content #new-masterdataagencyregistered-program-content .list {
    height: 240px;
}
#new-masterdataagencyregistered-form .form-content #new-masterdataagencyregistered-program-content .list .checkbox-content .checkbox-labelcol,
#edit-masterdataagencyregistered-form .form-content #edit-masterdataagencyregistered-program-content .list .checkbox-content .checkbox-labelcol {
    width: 476px;
}